.nav-tabs {
	.nav-link {
		transition: $bemo-transition;
		&:not(.active) {
			color: $bemo-neutral-medium-sub-color;
			&:hover {
				color: $bemo-primary-color;
				border-color: transparent;
			}
		}
	}
	.nav-link.active,
	.nav-item.show .nav-link {
		border-bottom-color: $bemo-neutral-white;
	}
}