.btn-fill-primary,
.btn-primary {
	padding: 0.625rem 1.5rem 0.5rem;
	border-radius: 0.25rem;
	box-shadow: $bemo-box-shadow;
}

.btn-secondary.fa:not(.fa-search),
.o_radio_hide_bullet label.fa:not(.fa-search) {
	color: $bemo-neutral-medium-sub-color;
}

.btn-fill-primary:focus,
.btn-primary:focus,
.btn-fill-primary.focus,
.focus.btn-primary {
	box-shadow: unset;
}

.btn-secondary:focus,
.o_radio_hide_bullet label:focus,
.btn-secondary.focus,
.o_radio_hide_bullet label.focus {
	box-shadow: unset;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.o_radio_hide_bullet label:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.o_radio_hide_bullet label:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle,
.o_radio_hide_bullet .show > label.dropdown-toggle {
	color: $bemo-primary-color;
	background-color: $bemo-primary-blue-light-color-05;
	border-color: $bemo-primary-blue-light-color-05;
}

.btn-secondary,
.o_radio_hide_bullet label {
	&:hover {
		color: $bemo-neutral-medium-sub-color;
		background-color: $bemo-primary-blue-light-color-06;
		border-color: $bemo-primary-blue-light-color-06;
	}
}
