.o_ChatterTopbar_button {
	color: $bemo-neutral-medium-sub-color;
	font-weight: 500;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	&.o_ChatterTopbar_buttonSendMessage,
	&.o_ChatterTopbar_buttonLogNote,
	&.o_ChatterTopbar_buttonScheduleActivity {
		@media (max-width: 1599.98px) {
			font-size: 0;
			i,
			&:before {
				font-size: $bemo-font-size-default;
			}
		}
		@media (max-width: 1439.98px) {
			font-size: $bemo-font-size-default;
			i,
			&:before {
				font-size: inherit;
			}
		}
	}
	&.o_ChatterTopbar_buttonSendMessage {
		&:before {
			content: "\f086";
			font-family: "FontAwesome";
		}
	}
	&.o_ChatterTopbar_buttonLogNote {
		&:before {
			content: "\f249";
			font-family: "FontAwesome";
		}
	}
	&:hover {
		background: transparent;
	}
	&.o-active {
		background-color: transparent;
		&:hover {
			background-color: transparent;
		}
	}
}
.o_FollowButton_unfollow {
	&.o-following {
		color: $bemo-semantic-positive-color;
	}
	&.o-unfollow {
		color: $bemo-semantic-negative-color;
	}
}

.o_Follower_details,
.o_Follower_button {
	&:hover {
		background: $bemo-primary-blue-light-color-04;
	}
}

.o_ChatterTopbar_actions {
	padding: $bemo-spacing-level-1 $bemo-spacing-level-2;
	border-color: $bemo-neutral-lighter-border-color;
}

.o_Chatter_composer {
	background: $bemo-neutral-lightest-background-color;
	margin: $bemo-spacing-level-3;
	&.o-bordered {
		border: 0;
	}
}

.o_Composer_actionButtons {
	&:not(.o-composer-is-compact) {
		text-align: right;
	}
	.btn {
		&.btn-primary {
			color: $bemo-primary-color;
			background: transparent;
			border: 0;
			font-weight: 700;
			&:after {
				content: "\f1d8";
				font-family: "FontAwesome";
				margin-left: $bemo-spacing-level-2;
			}
			&:focus {
				box-shadow: unset;
			}
			&:not(:disabled):not(.disabled):active:focus {
				box-shadow: unset;
			}
			&:not(:disabled):not(.disabled):active {
				background: transparent;
				color: $bemo-primary-color;
			}
		}
	}
}

.o_Chatter {
	.o_AttachmentList_partialListImages {
		display: grid;
		width: 100%;
		margin: 0;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-gap: $bemo-spacing-level-2;
		.o_Attachment {
			margin: 0;
			overflow: hidden;
		}
		.o_Attachment_image {
			width: 100%;
			height: 100%;
		}
		@media (max-width: 1599.98px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
		@media (max-width: 1439.98px) {
			grid-template-columns: repeat(9, minmax(0, 1fr));
		}
		@media (max-width: 1199.98px) {
			grid-template-columns: repeat(7, minmax(0, 1fr));
		}
		@media (max-width: 1024.98px) {
			grid-template-columns: repeat(6, minmax(0, 1fr));
		}
		@media (max-width: 767.98px) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		@media (max-width: 575.98px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
	.o_AttachmentList_partialListNonImages {
		display: grid;
		width: 100%;
		margin: 0;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-gap: $bemo-spacing-level-2;

		@media (max-width: 1439.98px) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		@media (max-width: 1199.98px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
		@media (max-width: 767.98px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
}
