.o_control_panel {
	padding-top: 0;
	padding-bottom: 0;
	> div {
		margin: $bemo-spacing-level-3 0px;
		+ div {
			margin-top: 0;
		}
	}
	button {
		&:focus {
			box-shadow: unset;
		}
	}
	.breadcrumb {
		font-size: 1.33333333rem;
		padding: 7.5px 0;
	}
	.o_cp_bottom_left {
		.o_cp_buttons {
			button {
				text-transform: uppercase;
				font-weight: 700;
				padding: 0 $bemo-button-vertical-padding;
				border-radius: $bemo-button-border-radius;
				margin-right: $bemo-spacing-level-2;
				height: $bemo-button-height;
				&.btn-secondary {
					color: $bemo-primary-color;
					border: 1px solid $bemo-primary-color;
				}
			}
		}
	}
	.o_cp_bottom_right {
		flex-wrap: wrap;
		> .o_search_options {
			margin: auto 0;
			@media (max-width: 1199.98px) {
				-ms-flex: 0 0 70%;
				flex: 0 0 70%;
				max-width: 70%;
			}
			.o_dropdown_toggler_btn {
				color: $bemo-neutral-darker-color;
				border: 0;
				padding: 0 $bemo-spacing-level-3 0 0;
				&:hover {
					background: inherit;
				}
				i {
					margin-right: $bemo-spacing-level-1;
				}
				&:first-child {
					margin-right: $bemo-spacing-level-4;
				}
				&:before {
					content: "\f078";
					color: $bemo-neutral-medium-sub-color;
					font-size: 10px;
					font-family: "FontAwesome";
					position: absolute;
					right: 0;
					top: 49%;
					line-height: 1;
					transform: translateY(-50%);
				}
			}
		}
		> .o_cp_pager {
			padding-left: 0;
			margin: auto 0 auto auto;
			.btn {
				font-size: 10px;
				color: $bemo-neutral-darker-color;
				width: $width-icon-small;
				height: $width-icon-small;
				padding: 0;
				&:hover {
					color: $bemo-neutral-medium-sub-color;
					background-color: $bemo-primary-blue-light-color-06;
					border-color: $bemo-primary-blue-light-color-06;
				}
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			@media (max-width: 1199.98px) {
				-ms-flex: 0 0 30%;
				flex: 0 0 30%;
				max-width: 30%;
			}
			.o_pager {
				@media (max-width: 1199.98px) {
					justify-content: flex-end;
				}
			}
		}
		> .o_cp_switch_buttons {
			margin: auto 0;
			border-radius: $bemo-border-radius-low;
			> .btn:not(:last-child):not(.dropdown-toggle),
			.btn-group > .btn-group:not(:last-child) > .btn {
				border-top-right-radius: $bemo-border-radius-low;
				border-bottom-right-radius: $bemo-border-radius-low;
			}
			> .btn:not(:first-child),
			.btn-group > .btn-group:not(:first-child) > .btn {
				border-top-left-radius: $bemo-border-radius-low;
				border-bottom-left-radius: $bemo-border-radius-low;
			}
			.o_switch_view {
				color: $bemo-neutral-darker-color;
				width: $width-icon-small;
				height: $width-icon-small;
				border: 0;
				padding: 0;
				line-height: 1;
				&.active {
					color: $bemo-primary-color;
				}
				&:hover,
				&.active {
					background: $bemo-primary-blue-light-color-06;
				}
				&:before {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				+ .o_switch_view {
					margin-left: 8px;
				}
			}
		}
	}
}

span.o_pager_value {
	&:focus {
		outline: none;
	}
}

@include media-breakpoint-down(sm) {
	.o_control_panel {
		padding-left: $o-horizontal-padding / 2;
		padding-right: $o-horizontal-padding / 2;
		.o_cp_top {
			justify-content: space-between;
			.o_cp_top_left {
				max-width: 35%;
				.breadcrumb {
					overflow: hidden;
					display: block;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
			.o_cp_top_right {
				min-height: 35px;
				min-width: 65%;
				flex-grow: 1;
			}
		}
		.o_cp_bottom {
			justify-content: space-between;
			.o_cp_bottom_left {
				flex-grow: 1;
				.o_cp_action_menus,
				.o_cp_buttons {
					flex: 1 1 100%;
				}
				.o_cp_action_menus .o_dropdown .o_dropdown_toggler_btn {
					.o_dropdown_title {
						display: none;
					}
					i:last-of-type {
						display: none;
					}
					&::after {
						display: inline-block;
						width: 0;
						height: 0;
						margin-left: 0.255em;
						vertical-align: 0.255em;
						content: "";
						border-top: 0.3em solid;
						border-right: 0.3em solid transparent;
						border-bottom: 0;
						border-left: 0.3em solid transparent;
					}
				}
			}
			.o_cp_bottom_right {
				.o_cp_pager {
					white-space: nowrap;
					.o_pager_counter {
						max-width: 60px;
						@include o-text-overflow;
					}
					.o_pager_previous,
					.o_pager_next {
						border: none;
					}
				}
				.o_search_options {
					display: none;
				}
			}
		}
		.breadcrumb-item {
			&:not(.active) {
				padding-left: 0;
			}
			&::before {
				content: none;
				padding-right: 0;
			}
			&:nth-last-of-type(1n + 3) {
				display: none;
			}
			&:nth-last-of-type(2) {
				&::before {
					content: "\f053";
					cursor: pointer;
					color: $o-brand-primary;
					font-family: FontAwesome;
				}
				a {
					display: none;
				}
			}
		}
		.o_cp_buttons .btn.d-block:not(.d-none) {
			display: inline-block !important;
		}
		.o_cp_switch_buttons {
			&.show > .dropdown-menu {
				display: flex;
				min-width: 0px;
				flex-direction: row;
				align-content: center;
				justify-content: space-around;
				padding: 0;
				.btn {
					margin: 5px;
					border: none;
					font-size: 1.25rem;
				}
			}
		}
	}
	.o_controller_with_searchpanel .o_search_panel {
		display: none;
	}
}
