%dropdown-li-a-padding {
	padding: $bemo-spacing-level-1 $o-dropdown-hpadding;
}
.dropdown-item {
	cursor: pointer;
	transition: $bemo-transition;
	&:hover {
		color: $bemo-primary-color;
		background: $bemo-primary-blue-light-color-05;
	}
}