.o_field_widget {
	&.o_field_many2one .o_external_button {
		color: $bemo-primary-color;
	}
	&.o_field_image {
		.o_form_image_controls {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			background: rgba($color: $bemo-primary-color, $alpha: 0.8);
			button {
				&.fa {
					width: $bemo-width-button-icon-only;
					height: $bemo-width-button-icon-only;
					color: $bemo-neutral-white;
					margin: $bemo-spacing-level-1;
					transition: $bemo-transition;
					border-radius: 50%;
					&:hover {
						background: $bemo-primary-blue-light-color-02;
					}
					&:focus {
						outline: none;
					}
				}
			}
		}
		&[name="theme_favicon"] {
			background: $bemo-neutral-darker-color;
			height: $bemo-height-tab-browser;
			border-radius: $bemo-border-radius-medium $bemo-border-radius-medium
				0 0;
			padding: $bemo-spacing-level-2;
			> img {
				max-width: 16px;
				max-height: 16px;
			}
			.o_form_image_controls {
				background: transparent;
			}
		}
		&:hover {
			.o_form_image_controls {
				opacity: 1;
			}
		}
	}
	&.o_field_many2one {
		.o_external_button {
			color: $bemo-neutral-medium-sub-color;
			font-size: $bemo-font-size-default;
			position: relative;
			z-index: 100;
			transition: $bemo-transition;
			&:hover {
				color: $bemo-primary-color;
			}
			&:focus {
				box-shadow: unset;
			}
		}
	}
	> .o_field_color {
		&:focus {
			outline: none;
		}
	}
	.o_input_dropdown {
		.o_dropdown_button {
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			line-height: 1;
			&:after {
				content: "\f078";
				font-size: 10px;
				width: auto;
				height: auto;
				font-family: "FontAwesome";
				border-left: 0;
				border-right: 0;
				border-top: 0;
			}
		}
	}
}

.o_field_invalid.o_input,
.o_field_invalid .o_input,
.o_field_invalid.o_form_label {
	color: $bemo-semantic-negative-color !important;
	border-color: $bemo-semantic-negative-color !important;
	&::placeholder {
		color: $bemo-semantic-negative-color;
	}
}

.custom-control-input {
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	&:focus {
		&:not(:checked) {
			~ .custom-control-label {
				&:before {
					border-color: $bemo-primary-color;
				}
			}
		}
		~ .custom-control-label {
			&:before {
				box-shadow: unset;
			}
		}
	}
}

.custom-control {
	&.custom-checkbox {
		.custom-control-input {
			&:not(:checked) {
				&:not(:indeterminate) {
					~ .custom-control-label {
						&:before {
							background: $bemo-neutral-white;
						}
					}
				}
			}
		}
	}
}

.custom-control-label {
	padding-left: $bemo-spacing-level-1;
	&:before {
		border: 1px solid $bemo-primary-color;
		background: $bemo-neutral-white;
	}
	&:before,
	&:after {
		top: 50%;
		transform: translateY(-50%);
	}
	i {
		margin-left: $bemo-spacing-level-2;
	}
}
