.o_form_view {
	overflow: hidden;
	background: $bemo-primary-blue-light-color-06;
	.o_form_sheet_bg {
		background: $bemo-neutral-white;
		border-bottom: 0;
		> .o_form_sheet {
			box-shadow: unset;
			margin: 0;
			min-width: 100%;
			max-width: 100%;
			border: 0;
			.oe_avatar {
				position: absolute;
				right: $bemo-spacing-level-3;
				top: $bemo-height-form-statusbar + $bemo-height-oe-button-box;
				img {
					min-width: 100px;
					min-height: 100px;
					max-height: 100px;
					max-width: 100px;
					border-radius: 50%;
					object-fit: cover;
					object-position: center center;
				}
			}
			.o_field_widget {
				&.o_field_image {
					.o_form_image_controls {
						border-radius: 50%;
					}
				}
			}
			@media (min-width: 992px) and (max-width: 1533.98px) {
				padding-right: 16px;
				padding-left: 16px;
			}
		}
		.o_form_statusbar {
			position: sticky;
			z-index: 200;
			top: 0;
			border-bottom: 1px solid $bemo-neutral-lighter-border-color;
			padding-right: $bemo-spacing-level-3;
			height: $bemo-height-form-statusbar;
			overflow: hidden;
			> .o_statusbar_buttons {
				> .btn {
					margin: 0 $bemo-spacing-level-4 0 0;
					padding: 0;
					background: transparent;
					border: 0;
					font-weight: 700;
					text-transform: uppercase;
					min-height: unset;
					&.btn-primary {
						color: $bemo-primary-color;
					}
					&.btn-secondary {
						color: $bemo-neutral-medium-sub-color;
					}
					&:hover {
						background: none;
					}
					&:focus {
						box-shadow: unset;
					}
				}
			}
		}
		.oe_button_box {
			.btn.oe_stat_button {
				border-top: 0;
				border-bottom: 0;
				> .o_button_icon {
					color: $bemo-primary-color;
					height: $bemo-height-oe-button-box;
					display: inline-flex;
					justify-content: center;
					align-items: center;
				}
				> .o_stat_info,
				> span {
					color: $bemo-primary-color;
					font-size: 12px;
				}
			}
		}
		.oe_title {
			max-width: 50%;
			width: 100%;
			margin-bottom: $bemo-spacing-level-7;
			span.o_field_widget {
				max-width: 100%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				width: initial;
			}
		}
		.o_notebook {
			margin-top: $bemo-spacing-level-5;
			.nav-tabs {
				flex-flow: nowrap;
				margin: 0 -16px;
				padding: 0 $bemo-spacing-level-3;
				.nav-item {
					white-space: nowrap;
				}
			}
		}
	}
	.o_field_widget {
		margin-bottom: $bemo-spacing-level-3;
		&.o_priority {
			> .o_priority_star {
				margin: $bemo-spacing-level-2 0;
			}
		}
		&.o_field_boolean {
			margin-top: 12px;
		}
	}
	.o_group {
		display: flex;
		flex-wrap: wrap;
		margin: $bemo-spacing-level-3 0;
		.o_group {
			margin: 0;
		}
		&.o_inner_group {
			display: block;
			> tbody {
				> tr {
					> td {
						padding: 0;
						&.o_td_label {
							padding: 0 $bemo-spacing-level-3 0 0;
						}
						&[style="width: 50%;"] {
							padding: 0 $bemo-spacing-level-6 0 0;
						}
					}
				}
			}
		}
		.o_td_label {
			border-right: 0;
			.o_form_label {
				padding: $bemo-spacing-level-2 0 0 0;
			}
		}
		.o_group_col_6 {
			margin-bottom: $bemo-spacing-level-3;
			&:nth-child(2n) {
				padding-right: $bemo-spacing-level-5;
				padding-left: $bemo-spacing-level-8;
			}
		}
	}
	&.o_form_readonly {
		.o_td_label {
			.o_form_label {
				padding: 0 0 $bemo-spacing-level-3 0;
			}
		}
	}
	&.o_form_editable {
		.o_form_sheet {
			.o_resume_group_header {
				.btn {
					color: $bemo-primary-color;
					font-weight: 700;
					background: transparent;
					border: 0;
					margin-top: 0;
					&:before {
						content: "\f067";
						font-family: "FontAweSome";
						font-size: 10px;
					}
				}
			}
			.o_group_name,
			.o_skill_cell {
				padding-left: 0;
			}
			.o_group_name {
				background: transparent;
			}
			.o_list_record_remove {
				> button {
					transition: $bemo-transition;
				}
			}
		}
	}
	.oe_avatar {
		> img {
			border: 5px solid $bemo-neutral-lighter-border-color;
		}
	}
	.o_horizontal_separator {
		font-size: 1.4rem;
		margin: 0;
		margin-bottom: $bemo-spacing-level-3;
	}
	.oe_button_box {
		height: $bemo-height-oe-button-box;
		overflow: hidden;
		@media (min-width: 992px) and (max-width: 1533.98px) {
			margin-right: -16px;
			margin-left: -16px;
		}
	}
	select {
		&.o_field_widget {
			&.o_input {
				padding: 3px 0 4px;
			}
		}
	}
}

.bemo_chatter_position_sided {
	.o_form_view:not(.o_form_nosheet) {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		.o_form_sheet_bg {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			overflow-y: auto;
			max-height: 100%;
			margin-right: $bemo-spacing-level-3;
			border-radius: $bemo-border-radius-medium;
			@media (max-width: 1439.98px) {
				margin-right: 0;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		> .o_FormRenderer_chatterContainer {
			-ms-flex: 0 0 $bemo-chatter-position-sided-width;
			flex: 0 0 $bemo-chatter-position-sided-width;
			max-width: $bemo-chatter-position-sided-width;
			overflow-y: auto;
			background: $bemo-neutral-white;
			border-radius: $bemo-border-radius-medium;
			padding: 0;
			max-height: 100%;
			padding-bottom: $bemo-spacing-level-3;
			@media (max-width: 1599.98px) {
				-ms-flex: 0 0 30%;
				flex: 0 0 30%;
				max-width: 30%;
			}
			@media (max-width: 1439.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-top: $bemo-spacing-level-4;
			}
		}
		@media (max-width: 1439.98px) {
			height: auto;
		}
	}
}

.o-kanban-button-new {
	&:focus {
		box-shadow: none;
	}
}

.o_form_sheet {
	.o_hr_skills_group {
		.o_list_view {
			.o_list_table {
				.o_resume_group_header {
					vertical-align: middle;
					.o_group_name {
						background: $bemo-primary-blue-light-color-05;
						border-top-right-radius: $bemo-border-radius-medium;
						border-bottom-right-radius: $bemo-border-radius-medium;
						padding: $bemo-spacing-level-1;
					}
				}
				.o_resume_timeline_cell {
					.rounded-circle {
						width: auto;
						height: auto;
						line-height: 1;
						&.bg-info {
							color: $bemo-primary-color;
							background: unset !important;
						}
						&:after {
							color: $bemo-neutral-darker-color;
							content: "\f102";
							font-family: "FontAwesome";
						}
					}
				}
				tr {
					&:hover {
						background: transparent;
					}
				}
			}
		}
		.o_group_header {
			&:first-child {
				> .o_group_name {
					padding-top: $bemo-spacing-level-3;
					padding-bottom: 6px;
				}
			}
			.o_field_x2many_list_row_add {
				.btn {
					color: $bemo-primary-color;
					font-weight: 700;
					background: transparent;
					border: 0;
					margin-top: 0;
					&:before {
						content: "\f067";
						font-family: "FontAweSome";
						font-size: 10px;
					}
					&:focus {
						box-shadow: unset;
					}
				}
			}
		}
		&.o_group_skills {
			.o_horizontal_separator {
				background: $bemo-primary-blue-light-color-05;
				border-top-right-radius: $bemo-border-radius-medium;
				border-bottom-right-radius: $bemo-border-radius-medium;
				padding: $bemo-spacing-level-1;
			}
			.o_skill_cell {
				padding: 6px 0;
				vertical-align: middle !important;
			}
		}
	}
	.o_group_resume {
		.o_data_row {
			td {
				padding: $bemo-spacing-level-3 0.5rem;
				.o_resume_line {
					padding-top: 0.8rem;
				}
				&.o_resume_timeline_cell {
					&:before {
						content: none;
					}
				}
			}
		}
	}
}

.o_form_view .oe_inline.o_inner_group,
.o_form_view .o_inner_group.oe_left,
.o_form_view .o_inner_group.oe_right,
.o_form_view .o_inner_group.o_group.oe_subtotal_footer {
	width: 33% !important;
}
