.o_view_controller {
	> .o_content {
		> .o_list_view {
			> .table-responsive {
				overflow-x: hidden;
				overflow-y: auto;
				max-height: 100%;
				border-radius: $bemo-border-radius-medium;
				box-shadow: $bemo-box-shadow;
				background: $bemo-neutral-white;
			}
		}
	}
}

.table {
	thead {
		th {
			border-bottom: 0;
		}
	}
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: $bemo-neutral-lightest-background-color;
}

.table-hover tbody tr {
	transition: $bemo-transition;
	&:hover {
		background: $bemo-primary-blue-light-color-05;
	}
}

.o_list_view {
	background: $bemo-neutral-white;
	border-radius: $bemo-border-radius-medium;
	table {
		position: relative;
		overflow-x: hidden;
	}
	table,
	thead,
	tfoot,
	td,
	th {
		border: none;
		transition: $bemo-transition;
	}
	thead {
		color: $bemo-neutral-white;
		border-bottom: 0;
		background-color: $bemo-primary-color;
		th.o_column_sortable:hover {
			background-color: $bemo-primary-dark-color-01;
		}
	}
	th,
	td {
		outline: none;
		padding: $bemo-spacing-level-3 $bemo-spacing-level-2;
	}
	.o_list_table {
		thead {
			color: $bemo-neutral-white;
			border-bottom: 0;
			th {
				position: sticky;
				top: 0;
				background: $bemo-primary-color;
				z-index: 100;
				&.o_column_sortable:not(.o_handle_cell) {
					position: sticky;
					top: 0;
					background: $bemo-primary-color;
				}
				&:focus-within {
					background: inherit;
				}
			}
		}
		tfoot {
			display: none;
			color: $bemo-primary-color;
			background-color: $bemo-primary-blue-light-color-05;
			border-top: 0;
			border-bottom: 0;
		}
		tbody {
			&.o_keyboard_navigation {
				td {
					&:focus-within {
						background: inherit;
					}
				}
			}
			> tr {
				&.o_group_header {
					> th,
					> td {
						padding-top: $bemo-spacing-level-3;
						padding-bottom: $bemo-spacing-level-3;
						padding-left: $bemo-spacing-level-3;
						padding-right: $bemo-spacing-level-3;
					}
				}
				> td {
					&:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button) {
						position: relative;
					}
				}
			}
		}
		tr:focus-within,
		.o_list_view .o_list_table.table-striped tr:focus-within {
			background: inherit !important;
		}
		.o_column_sortable:not(.o_handle_cell)::after {
			position: absolute;
			right: $bemo-spacing-level-1;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.o_optional_columns_dropdown_toggle {
		font-size: 16px;
		color: $bemo-neutral-white;
		line-height: 56px;
		z-index: 200;
	}
	.o_optional_columns_dropdown_toggle,
	.o_list_view .o_optional_columns {
		right: $bemo-spacing-level-1;
	}
	&.o_list_optional_columns {
		th,
		td {
			&:last-child {
				padding-right: $bemo-spacing-level-6;
				&:after {
					right: $bemo-spacing-level-4 !important;
					margin-left: 0;
				}
			}
		}
	}
	.o_list_table thead > tr > th:not(.o_list_record_selector) {
		border-left: 0;
	}
}

.tab-pane {
	.o_list_view {
		table {
			border: 1px solid $bemo-neutral-lighter-border-color;
			th,
			td {
				font-size: 12px;
				padding: 8px;
			}
			.o_optional_columns_dropdown_toggle {
				font-size: 12px;
				line-height: 36px;
			}
		}
	}
	.o_form_view {
		.o_form_label {
			margin-bottom: $bemo-spacing-level-2;
		}
	}
}

.o_list_table_grouped.table tbody tr {
	&:nth-of-type(2n + 1) {
		background-color: $bemo-neutral-lightest-background-color;
	}
	&.o_group_header {
		background-image: none;
		background: $bemo-neutral-white;
		box-shadow: inset 0 1px 0 $bemo-neutral-lighter-border-color;
	}
	&:hover {
		background-color: $bemo-primary-blue-light-color-05;
	}
}

.o_content,
.modal-content {
	> div > .table-responsive {
		> .o_list_view {
			thead,
			thead tr:nth-child(1) th {
				border-bottom: solid 1px gray("300");
				background-color: $bemo-neutral-white;
				position: sticky;
				z-index: 1;
				top: 0;
			}
			tfoot,
			tfoot tr:nth-child(1) td {
				position: sticky;
				bottom: 0;
			}
		}
	}
}

.o_list_view {
	.o_list_table {
		.o_data_row.o_selected_row {
			> .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier):not(.o_remaining_days_cell) {
				padding: $bemo-spacing-level-3 $bemo-spacing-level-2;
				&.o_list_button {
					padding: $bemo-spacing-level-3;
				}
			}
		}
	}
}

.o_forecast_widget_cell {
	button {
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		padding-bottom: $bemo-spacing-level-1;
	}
}
