.o_mail_systray_item {
	> a {
		> i {
			font-size: x-large;
		}
	}
	.o_notification_counter {
		background: $bemo-semantic-negative-color;
		vertical-align: top;
		margin-top: 0;
		margin-left: -0.8rem;
	}
}
