.o_MessagingMenu_counter {
	background-color: $bemo-semantic-negative-color;
	vertical-align: top;
	margin-top: 0;
	margin-left: -0.8rem;
	margin-right: 0;
	transform: none;
}

.o_MessagingMenu_icon {
	font-size: x-large;
}
