.o_Message_sidebar {
	&.o-message-squashed {
		font-size: 10px;
		align-items: center;
	}
}

.o_Message_commandStar {
	font-size: $bemo-font-size-default;
}

.o_Message_header {
	align-items: center;
}
