.o_MessageList_separatorDate {
	font-size: 12px;
	color: $bemo-neutral-medium-sub-color;
	padding: $bemo-spacing-level-3 0;
}

.o_MessageList_separatorLine {
	border-color: $bemo-neutral-lighter-border-color;
}
