@mixin bemo-full-screen-sections {
	width: 100vw;
	z-index: 999;
	display: flex;
	height: calc(100vh - #{$o-navbar-height});
	max-height: calc(100vh - #{$o-navbar-height});
	top: $o-navbar-height;
	transform: none;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: none;
	border: none;
	border-radius: 0;
}
