@mixin bemo-full-screen-sections {
	width: 100vw;
	display: flex;
	height: 100vh;
	max-height: 100vh;
	top: 0;
	transform: none;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: none;
	border: none;
	border-radius: 0;
}
