.o_main_navbar {
	padding-right: $bemo-spacing-level-3;
	border-bottom: 0;
	> a,
	button {
		&:hover,
		&:focus {
			background: inherit;
		}
	}
	> ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		height: 100%;
		> li {
			+ li {
				margin-left: $bemo-spacing-level-3;
			}
			&.o_debug_manager,
			&.o_MessagingMenu,
			&.o_mail_systray_item {
				.fa-clock-o {
					&:before {
						content: "\f0f3";
					}
				}
				.fa-comments {
					&:before {
						content: "\f0e0";
					}
				}
				> a {
					&:hover {
						background: inherit;
					}
				}
			}
			> a,
			> label {
				padding: 0 $bemo-spacing-level-2;
				&.o_menu_header_lvl_1 {
					position: relative;
					padding-right: $bemo-spacing-level-4;
					&:before {
						content: "\f078";
						font-size: 10px;
						font-family: "FontAwesome";
						position: absolute;
						right: $bemo-spacing-level-2;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				&:hover {
					background: inherit;
				}
			}
			&.o_extra_menu_items {
				> a {
					position: relative;
					width: 24px;
					height: 24px;
					transition: 0.3s all ease-in-out;
					border-radius: $bemo-button-border-radius;
					i {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
					&:hover {
						background: $bemo-primary-dark-color-02;
					}
				}
			}
			@media (max-width: 1439.98px) {
				+ li {
					margin-left: $bemo-spacing-level-2;
				}
			}
		}
		&.o_menu_systray {
			margin-left: auto;
		}
	}
	.logo {
		display: none;
		width: 100%;
		height: auto;
	}
	> .o_menu_apps {
		background: $bemo-primary-dark-color-02;
		padding: 0 $bemo-spacing-level-3;
		.full {
			display: flex;
			align-items: center;
			padding: 0;
			i {
				display: none;
			}
		}
		.dropdown-menu.show {
			@include bemo-full-screen-sections();
			align-content: flex-start;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			background: $bemo-primary-color;
			.o_app {
				display: flex;
				margin-top: 20px;
				align-items: center;
				flex-direction: column;
				justify-content: flex-start;
				width: percentage(1/6);
				transition: $bemo-transition;
				background: none;
				@media (max-width: 1439.98px) {
					width: percentage(1/5);
				}
				@media (max-width: 1199.98px) {
					width: percentage(1/4);
				}
				@media (max-width: 575.98px) {
					width: percentage(1/2);
				}
				&:hover,
				&:focus,
				&:active,
				&.active {
					.o-app-icon {
						box-shadow: 0 8px 15px -10px $bemo-neutral-black;
						transform: translateY(-1px);
					}
				}
			}
			.has-results ~ .o_app {
				display: none;
			}
			.o-app-icon {
				height: auto;
				max-width: 7rem;
				width: 100%;
				flex-basis: 0;
				transition: $bemo-transition;
			}
			.o-app-name {
				color: $bemo-neutral-white;
				margin-top: $bemo-spacing-level-2;
			}
			.form-row {
				width: 100%;
			}
			.bemo_search_container {
				margin-top: 25px;
				.bemo_search_input {
					input:focus {
						box-shadow: none;
						border: 1px solid $gray-400;
					}
				}
				&.has-results {
					height: 100%;
					.bemo_search_input {
						height: 3em;
					}
					.bemo_search_results {
						height: calc(100% - 3em);
						.bemo_menu_search_result {
							display: block;
							cursor: pointer;
							align-items: center;
							padding-left: 3rem;
							padding-right: 1rem;
							background-position: left;
							background-repeat: no-repeat;
							background-size: contain;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							&:hover,
							&:active,
							&.active {
								background-color: rgba(255, 255, 255, 0.05);
							}
						}
					}
				}
				@include media-breakpoint-down(md) {
					padding-right: 5px;
				}
			}
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: var(--url-background);
				background-size: cover;
				z-index: -10;
				pointer-events: none;
			}
			@include media-breakpoint-up(lg) {
				padding: {
					left: 20vw;
					right: 20vw;
				}
			}
		}
	}
	> .o_menu_brand {
		margin-right: 0;
		padding: 0 $bemo-spacing-level-3;
		transition: $bemo-transition;
	}
	> .o_menu_sections {
		> li {
			&:first-child {
				margin-left: $bemo-spacing-level-7;
				&.o_extra_menu_items {
					margin-left: $bemo-spacing-level-2;
				}
				@media (max-width: 1599.98px) {
					margin-left: $bemo-spacing-level-5;
				}
				@media (max-width: 1439.98px) {
					margin-left: $bemo-spacing-level-4;
				}
			}
		}
	}
	.o_user_menu,
	.o_switch_company_menu {
		> a {
			position: relative;
			z-index: 2;
			padding-right: $bemo-spacing-level-5;
			&:before {
				content: "\f078";
				font-size: 10px;
				font-family: "FontAwesome";
				position: absolute;
				right: 12px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&:after {
			content: "";
			position: absolute;
			background: rgba($color: $bemo-primary-dark-color-01, $alpha: 0.6);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: $bemo-navbar-height - $bemo-spacing-level-4;
			z-index: 1;
			border-radius: $bemo-border-radius-hight;
		}
	}
	.o_switch_company_menu {
		> a {
			.oe_topbar_name {
				max-width: 120px;
				@media (max-width: 1439.98px) {
					display: none;
				}
			}
			@media (max-width: 1439.98px) {
				&:before {
					content: "\f0b1";
					font-size: $bemo-font-size-default;
					right: unset;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
	.o_user_menu {
		margin-left: $bemo-spacing-level-4;
		.oe_topbar_avatar {
			width: 24px;
			height: 24px;
			border: 2px solid $bemo-neutral-lighter-border-color;
			transform: translateY(-1px);
		}
		.dropdown-item {
			&[data-menu] {
				padding-left: 40px;
				&:before {
					position: absolute;
					left: 16px;
					top: 50%;
					transform: translateY(-50%);
					line-height: 1;
					font-family: "FontAwesome";
				}
			}
			&[data-menu="documentation"] {
				&::before {
					content: "\f15c";
				}
			}
			&[data-menu="support"] {
				&::before {
					content: "\f059";
				}
			}
			&[data-menu="shortcuts"] {
				&::before {
					content: "\f11c";
				}
			}
			&[data-menu="settings"] {
				&::before {
					content: "\f007";
				}
			}
			&[data-menu="account"] {
				&::before {
					content: "\f0c2";
				}
			}
			&[data-menu="logout"] {
				&::before {
					content: "\f011";
				}
			}
		}
		.oe_topbar_name {
			display: inline-block;
			max-width: 120px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: top;
			@media (max-width: 1439.98px) {
				display: none;
			}
		}
		@media (max-width: 1599.98px) {
			margin-left: $bemo-spacing-level-3;
		}
		@media (max-width: 1439.98px) {
			margin-left: $bemo-spacing-level-2;
		}
	}
	.show {
		.dropdown-toggle {
			background-color: inherit;
		}
	}
}
