// Root Font Sizes
$o-root-font-size: 12px;
$o-font-size-base: 14rem * (1px / $o-root-font-size);
$o-line-height-base: 1.5; // This is BS default

// Root Primary Colors
$primary-color: #0c3255;
$primary-dark-color-01: #051423;
$primary-dark-color-02: #081f36;
$primary-blue-medium-color-01: #12497d;
$primary-blue-medium-color-02: #175ea1;
$primary-blue-medium-color-03: #1c73c4;
$primary-blue-light-color-01: #2988e0;
$primary-blue-light-color-02: #4c9ce6;
$primary-blue-light-color-03: #70afeb;
$primary-blue-light-color-04: #b8d7f5;
$primary-blue-light-color-05: #dbebfa;
$primary-blue-light-color-06: #f1f6f9;

// Root Semantic Information Colors
$semantic-information-color: #0e6eef;
$semantic-information-light-color: #438eef;
$semantic-information-lighter-color: #8ebbf5;
$semantic-information-lightest-color: #ecf4fd;

// Root Semantic Positive Colors
$semantic-positive-color: #27ae60;
$semantic-positive-light-color: #37d278;
$semantic-positive-lighter-color: #8be5b0;
$semantic-positive-lightest-color: #eefbf4;

// Root Semantic Critical Colors
$semantic-critical-color: #ffc52f;
$semantic-critical-light-color: #f8ce62;
$semantic-critical-lighter-color: #f8ce62;
$semantic-critical-lightest-color: #fef9eb;

// Root Semantic Negative Colors
$semantic-negative-color: #eb5757;
$semantic-negative-light-color: #ed6e6e;
$semantic-negative-lighter-color: #f4a4a4;
$semantic-negative-lightest-color: #fdeded;
