$o-brand-odoo: $bemo-primary-color;
$o-brand-primary: $bemo-primary-color;
$o-navbar-height: $bemo-navbar-height;
$o-extra-grid-breakpoints: $bemo-extra-grid-breakpoints;
$font-size-base: $bemo-font-size-default !default;
$o-line-height-base: $bemo-line-height-default;
$o-main-text-color: $bemo-neutral-darker-color;
$o-view-background-color: $bemo-neutral-white;
$o-main-color-muted: $bemo-neutral-light-disable-color;
$o-navbar-inverse-link-hover-bg: $bemo-primary-dark-color-01;
$o-enterprise-primary-color: $bemo-semantic-negative-color;
$custom-control-indicator-checked-color: $bemo-primary-color;
$custom-control-indicator-checked-border-color: $bemo-primary-blue-light-color-01;
$custom-control-indicator-checked-bg: $bemo-primary-blue-light-color-05;
$nav-tabs-border-color: $bemo-primary-color;
$nav-tabs-link-active-color: $bemo-primary-color;
$nav-tabs-link-active-bg: $bemo-neutral-white;
$nav-tabs-link-active-border-color: $bemo-primary-color;
$nav-tabs-link-hover-border-color: $bemo-primary-color;
