.o_controller_with_searchpanel {
	.o_renderer_with_searchpanel {
		border-radius: $bemo-border-radius-medium;
		box-shadow: $bemo-box-shadow;
		background: $bemo-neutral-white;
	}
}

.o_search_panel {
	padding: $bemo-spacing-level-3;
	margin-right: $bemo-spacing-level-3;
	border-right: 0;
	border-radius: $bemo-border-radius-medium;
	box-shadow: $bemo-box-shadow;
	.o_search_panel_section_header {
		padding: 0;
		margin-bottom: $bemo-spacing-level-3;
		b {
			color: $bemo-primary-color;
		}
	}
	.o_search_panel_field {
		margin-left: $bemo-spacing-level-3;
	}
	.o_toggle_fold {
		width: $bemo-spacing-level-2;
	}
	.list-group-item {
		header {
			&.active {
				color: $bemo-primary-color;
				background: $bemo-primary-blue-light-color-06;
			}
		}
		.o_search_panel_label_title {
			line-height: 24px;
		}
	}
	.o_search_panel_category_value {
		header {
			padding: $bemo-spacing-level-1 $bemo-spacing-level-2
				$bemo-spacing-level-1 0;
			border-top-right-radius: $bemo-border-radius-hight;
			border-bottom-right-radius: $bemo-border-radius-hight;
			transition: $bemo-transition;
			&:hover {
				color: $bemo-primary-color;
			}
		}
		+ .o_search_panel_category_value {
			margin-top: $bemo-spacing-level-2;
		}
	}
	.o_search_panel_section {
		+ .o_search_panel_section {
			margin-top: $bemo-spacing-level-3;
			padding-top: $bemo-spacing-level-3;
			border-top: 1px solid $bemo-neutral-lighter-border-color;
		}
	}
}
