.o_searchview {
	padding: 8px 32px 8px 8px;
	background: $bemo-neutral-lightest-background-color;
	border-radius: 4px;
	transition: $bemo-transition;
	@include media-breakpoint-up(md) {
		border-bottom: 0;
	}
	.o_searchview_icon {
		color: $bemo-neutral-medium-sub-color;
		right: 8px;
		top: 50%;
		bottom: unset;
		left: unset;
		transform: translateY(-50%);
		z-index: 10;
	}
	.o_searchview_input_container {
		.o_searchview_input {
			height: 24px;
			background: inherit;
			transition: $bemo-transition;
			&::placeholder {
				color: $bemo-neutral-medium-sub-color;
			}
			&:focus {
				&::placeholder {
					color: $bemo-primary-color;
				}
			}
		}
		.o_searchview_facet {
			margin: 2px 4px 0 0;
			border-radius: 4px;
			outline: none;
			transition: $bemo-transition;
			.o_searchview_facet_label {
				padding: 0 4px;
				font-size: 12px;
			}
			.o_facet_values {
				display: inline-flex;
				align-items: center;
				padding: 0 24px 0 4px;
			}
			.o_facet_remove {
				transition: $bemo-transition;
				&:before {
					margin-bottom: 2px;
				}
				&:hover {
					color: $bemo-primary-color;
				}
			}
			&:focus {
				border: 1px solid $bemo-primary-color;
			}
		}
	}
	.o_searchview_facet {
		border: 1px solid $bemo-neutral-lighter-border-color;
	}
}

.o_search_options {
	.btn-secondary {
		color: $bemo-neutral-medium-sub-color;
		&:hover {
			color: $bemo-primary-color;
			border: 1px solid transparent;
			background: transparent;
		}
	}
	.o_dropdown_toggler_btn {
		padding-right: 12px;
		&:first-child {
			margin-right: 16px;
		}
		&:before {
			content: "\f078";
			font-size: 10px;
			font-family: "FontAwesome";
			position: absolute;
			right: 0;
			top: 45%;
			transform: translateY(-50%);
		}
	}
}

.o_dropdown {
	.o_dropdown_title {
		padding: 0 4px;
	}
}
