.bemo-title {
	color: map-get($o-theme-color-palette, primary);
	font-size: 2.8rem;
	font-weight: 700;
}

.bemo-button-navigation-slider {
	cursor: pointer;
	position: absolute;
	z-index: 10;
	transition: $bemo-transition;
	&.offsetY-center {
		top: 50%;
		transform: translateY(-50%);
		&:hover {
			transform: translateY(-50%) scale(1.2);
		}
	}
	&.button-light {
		.icon {
			color: $bemo-neutral-white;
		}
	}
	&.button-large {
		.icon {
			font-size: 4rem;
		}
	}
	.icon {
		font-size: 2.4rem;
		color: map-get($o-theme-color-palette, primary);
	}
	&:hover {
		transform: scale(1.1);
	}
}
