.bemo-main-footer {
	position: relative;
	padding: 24px 0;
	background-color: $bemo-primary-color;
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 70%;
		left: 90%;
		top: 50%;
		transform: translateY(-50%);
		background-size: contain;
	}
	.js_language_selector {
		margin-bottom: $bemo-spacing-level-3;
		.btn-sm,
		.btn-group-sm > .btn {
			font-size: 16px;
			padding: 0;
			background-color: transparent;
			&:focus,
			&:hover {
				color: $bemo-neutral-white;
				background-color: transparent;
			}
			&:active {
				&:focus {
					color: $bemo-neutral-white;
					background-color: transparent;
					box-shadow: unset;
				}
			}
		}
	}
	.bemo-socials {
		display: flex;
		flex-wrap: wrap;
		li {
			> a {
				&:not(.btn) {
					font-size: 24px;
					color: $bemo-neutral-white;
					&:hover {
						color: $bemo-neutral-white;
					}
				}
			}
			+ li {
				margin-left: $bemo-spacing-level-3;
			}
		}
	}
}

.bemo-desc-footer {
	color: $bemo-neutral-white;
	+ .bemo-desc-footer {
		margin-top: 4px;
	}
}

.bemo-logo-main-footer {
	display: inline-block;
	max-width: 120px;
	margin-bottom: $bemo-spacing-level-4;
	img {
		filter: brightness(0) invert(1);
	}
}

.bemo-footer-title {
	color: $bemo-neutral-white;
	font-size: 1.8rem;
}

.bemo-footer-links {
	margin: 8px 0 16px;
	a {
		&:not(.btn) {
			color: $bemo-neutral-white;
			&:hover {
				color: $bemo-neutral-white;
			}
		}
	}
	li {
		+ li {
			margin-top: 8px;
		}
	}
}
