.form-control {
	height: 40px;
	border: 1px solid $bemo-neutral-lighter-border-color;
	&:focus {
		box-shadow: unset;
		border-color: $bemo-primary-color;
	}
	&::placeholder {
		color: $bemo-neutral-medium-sub-color;
	}
}
