body {
	&.o_connected_user {
		@media (max-width: 1024.98px) {
			.bemo-primary-nav {
				height: calc(100vh - #{$bemo-navbar-height});
			}
		}
	}
}

.bemo-main-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	transition: $bemo-transition;
	z-index: 500;
	&.bemo-main-header-sticky {
		position: sticky;
		background-color: $bemo-neutral-white;
		box-shadow: $bemo-box-shadow;
		.bemo-main-header-main {
			height: $bemo-navbar-website-client-height-sticky;
		}
		.bemo-logo-main-header {
			img {
				filter: unset;
			}
		}
		.bemo-primary-nav {
			ul {
				li {
					> a {
						color: $bemo-neutral-darkness-color;
					}
				}
			}
		}
		.bemo-header-login-wrapper {
			.btn-login {
				color: $bemo-primary-color;
				border: 2px solid $bemo-primary-color;
				&:hover {
					color: $bemo-neutral-white;
					background-color: $bemo-primary-color;
				}
			}
			.account_avatar {
				border: 2px solid map-get($o-theme-color-palette, primary);
			}
			.account {
				background-color: transparent;
				> a {
					color: $bemo-neutral-darkness-color;
				}
			}
		}
	}
	&.bemo-header-inverted {
		&:not(.bemo-main-header-sticky) {
			background-color: $bemo-primary-dark-color-02;
			color: $bemo-neutral-white;
		}
	}
	@media (max-width: 1024.98px) {
		> .container {
			max-width: 100%;
		}
	}
}

.bemo-main-header-main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: $bemo-navbar-website-client-height;
	transition: $bemo-transition;
	.button-close-nav-sidebar-wrapper,
	.button-open-nav-sidebar-wrapper {
		display: none;
		@media (max-width: 1024.98px) {
			display: flex;
		}
	}
	.button-close-nav-sidebar-wrapper {
		padding: 0 $bemo-spacing-level-4;
		justify-content: flex-end;
		align-items: center;
		height: 56px;
		.button-close-nav-sidebar {
			color: $bemo-neutral-medium-sub-color;
		}
		@media (max-width: 767.98px) {
			padding: $bemo-spacing-level-3;
		}
	}
	.button-open-nav-sidebar-wrapper {
		align-items: center;
		height: 100%;
	}
}

.bemo-logo-main-header {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: inline-flex;
	height: 100%;
	img {
		height: 36px;
		width: auto;
		margin: auto 0;
		transition: 0.3s all ease-in-out;
		filter: brightness(0) invert(1);
		@media (max-width: 320.98px) {
			height: 24px;
		}
	}
}

.bemo-header-login-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	margin-left: auto;
	.btn-login {
		color: $bemo-neutral-white;
		padding: $bemo-spacing-level-2 $bemo-spacing-level-4;
		border: 2px solid $bemo-neutral-white;
		border-radius: $bemo-border-radius-higher;
		background-color: transparent;
		transition: $bemo-transition;
		&:hover {
			color: map-get($o-theme-color-palette, primary);
			background-color: $bemo-neutral-white;
		}
		@media (max-width: 1024.98px) {
			color: map-get($o-theme-color-palette, primary);
			border: 2px solid map-get($o-theme-color-palette, primary);
			padding: $bemo-spacing-level-1 $bemo-spacing-level-3;
		}
		@media (max-width: 575.98px) {
			color: $bemo-neutral-darkness-color;
			padding: 0;
			border: 0;
			&:after {
				content: "\f090";
				font-family: "FontAwesome";
				margin-left: $bemo-spacing-level-1;
			}
		}
	}
	.account {
		position: relative;
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		padding: $bemo-spacing-level-1 $bemo-spacing-level-5
			$bemo-spacing-level-1 $bemo-spacing-level-1;
		background: rgba($color: $bemo-primary-dark-color-01, $alpha: 0.5);
		border-radius: $bemo-border-radius-higher;
		> a {
			color: $bemo-neutral-white;
			&:hover {
				color: $bemo-neutral-white;
			}
		}
		.account_avatar {
			width: 32px;
			height: 32px;
			border: 2px solid $bemo-neutral-white;
			border-radius: 50%;
		}
		.account_name {
			user-select: none;
			margin-left: $bemo-spacing-level-2;
			@media (max-width: 1024.98px) {
				display: none;
			}
		}
		.dropdown-toggle {
			display: inline-flex;
			align-items: center;
			height: 100%;
			&:after {
				content: "\f078";
				font-family: "FontAwesome";
				font-size: 8px;
				position: absolute;
				right: $bemo-spacing-level-3;
				top: 50%;
				margin-left: 0;
				vertical-align: 0;
				transform: translateY(-50%);
				border-left: 0;
				border-top: 0;
				border-right: 0;
				@media (max-width: 575.98px) {
					content: none;
				}
			}
		}
		@media (max-width: 575.98px) {
			padding: 0;
		}
	}
}

.bemo-primary-nav {
	height: 100%;
	ul {
		display: flex;
		align-items: center;
		height: 100%;
		li {
			+ li {
				margin-left: $bemo-spacing-level-4;
			}
			> a {
				color: $bemo-neutral-white;
				font-weight: 400;
				display: inline-flex;
				align-items: center;
			}
			&.has-sub {
				> a {
					&:after {
						content: "\f078";
						font-size: 50%;
						font-family: "FontAwesome";
						margin-left: $bemo-spacing-level-2;
					}
				}
			}
		}
		@media (max-width: 1024.98px) {
			flex-direction: column;
			align-items: flex-start;
			max-height: calc(100% - 56px);
			overflow-y: auto;
			li {
				width: 100%;
				padding: $bemo-spacing-level-4;
				border-top: 1px solid $bemo-neutral-lighter-border-color;
				+ li {
					margin-left: 0;
				}
				&:last-child {
					border-bottom: 1px solid $bemo-neutral-lighter-border-color;
				}
				> a {
					color: $bemo-neutral-darkness-color;
				}
			}
		}
	}
	@media (max-width: 1024.98px) {
		position: absolute;
		left: 0;
		top: 0;
		height: 100vh;
		width: 50vw;
		z-index: 600;
		background-color: $bemo-neutral-white;
		transition: transform 0.5s ease-in-out;
		transform: translateX(calc(-50vw - 15px));
	}
	@media (max-width: 767.98px) {
		width: 80vw;
		transform: translateX(calc(-80vw - 15px));
	}
}
