:root {
	font-size: 12px;
}
::selection {
	background: $bemo-primary-blue-light-color-04;
}

#wrapwrap {
	overflow-x: hidden;
}

ol,
ul,
dl {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	vertical-align: middle;
	border-style: none;
	max-width: 100%;
	height: auto;
}

.o_cc5 .btn-outline-secondary:focus,
.o_footer .btn-outline-secondary:focus,
.o_cc5 .btn-outline-secondary.focus,
.o_footer .btn-outline-secondary.focus,
.o_colored_level .o_cc5 .btn-outline-secondary:focus,
.o_colored_level .o_footer .btn-outline-secondary:focus,
.o_colored_level .o_cc5 .btn-outline-secondary.focus,
.o_colored_level .o_footer .btn-outline-secondary.focus {
	box-shadow: unset;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: unset;
}

.o_cc5 .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.o_footer .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.o_cc5 .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.o_footer .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .o_cc5 .btn-outline-secondary.dropdown-toggle:focus,
.show > .o_footer .btn-outline-secondary.dropdown-toggle:focus,
.o_colored_level
	.o_cc5
	.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.o_colored_level
	.o_footer
	.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.o_colored_level
	.o_cc5
	.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.o_colored_level
	.o_footer
	.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .o_colored_level .o_cc5 .btn-outline-secondary.dropdown-toggle:focus,
.show
	> .o_colored_level
	.o_footer
	.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: unset;
}
