.o_main_navbar {
	border-bottom: 0;
	> ul {
		> li {
			> a,
			> label {
				&:hover {
					background-color: inherit;
				}
			}
		}
	}
}

#oe_main_menu_navbar {
	background-color: $bemo-primary-dark-color-01;
}

#oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"],
#oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"],
#oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic {
	background-color: $bemo-primary-dark-color-01;
	border-color: $bemo-primary-dark-color-01;
}
