.o_control_panel {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 1px solid $bemo-neutral-lighter-border-color;
	> div {
		margin: $bemo-spacing-level-3 0;
		+ div {
			margin-top: 0;
		}
		@media (max-width: 767.98px) {
			margin: $bemo-spacing-level-2 0;
		}
	}
	button {
		&:focus {
			box-shadow: unset;
		}
	}
	.breadcrumb {
		font-size: 16px;
		> li {
			color: $bemo-neutral-medium-sub-color;
			> a {
				color: $bemo-neutral-medium-sub-color;
			}
			&.active {
				font-weight: 700;
				color: $bemo-primary-color;
			}
		}
		@media (max-width: 767.98px) {
			font-size: $bemo-font-size-default;
		}
		@media (max-width: 575.98px) {
			font-size: 12px;
		}
	}
	.o_cp_top,
	.o_cp_bottom {
		flex-wrap: wrap;
	}
	.o_cp_top_left,
	.o_cp_top_right {
		@media (max-width: 767.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.o_cp_top_left {
		margin-bottom: $bemo-spacing-level-2;
	}
	.o_cp_top_right {
		min-height: unset;
	}
	.o_cp_bottom_left,
	.o_cp_bottom_right {
		flex-wrap: wrap;
		@media (max-width: 1199.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.o_cp_bottom_left {
		.o_cp_buttons {
			.o_form_buttons_view,
			.o_form_buttons_edit {
				@media (max-width: 575.98px) {
					display: flex;
					flex-direction: column;
					.btn {
						+ .btn {
							margin-top: $bemo-spacing-level-2;
						}
					}
				}
			}
			button {
				text-transform: uppercase;
				font-weight: 700;
				padding: 0 $bemo-button-vertical-padding;
				border-radius: $bemo-button-border-radius;
				margin-right: $bemo-spacing-level-2;
				height: $bemo-button-height;
				&.btn-secondary {
					color: $bemo-primary-color;
					border: 1px solid $bemo-primary-color;
				}
				@media (max-width: 575.98px) {
					height: $bemo-width-button-icon-only;
					width: $bemo-width-button-icon-only;
					padding: 0;
					border-radius: 50%;
					margin-right: 0;
				}
			}
			.btn-group {
				button {
					color: $bemo-primary-color;
					background-color: $bemo-semantic-information-lightest-color;
					height: 32px;
					border-radius: $bemo-border-radius-medium;
					text-transform: none;
					border: 1px solid transparent;
					font-weight: 400;
					&.active {
						background-color: $bemo-primary-blue-light-color-04;
					}
					&.dropdown-toggle {
						color: $bemo-primary-color;
						background-color: $bemo-primary-blue-light-color-05;
						&:focus {
							box-shadow: unset;
						}
					}
				}
			}
		}
		> .o_cp_action_menus {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			padding-right: 0;
			margin: 0 $bemo-spacing-level-4;
			.btn-group {
				&.o_dropdown {
					+ .btn-group {
						&.o_dropdown {
							margin-left: $bemo-spacing-level-3;
						}
					}
				}
			}
			.o_dropdown_toggler_btn {
				padding: 0;
				border: 0;
				margin-right: 0;
				&:hover {
					background: transparent;
				}
				.o_dropdown_title {
					~ i {
						display: none;
					}
				}
				i {
					margin-right: $bemo-spacing-level-1;
					&.fa-cog {
						&:before {
							content: "\f142";
						}
					}
				}
			}
			@media (max-width: 1599.98px) {
				align-items: flex-start;
			}
			@media (max-width: 767.98px) {
				display: none;
			}
		}
		.o_calendar_buttons {
			.o_calendar_navigation_buttons,
			.o_calendar_scale_buttons {
				display: inline-flex;
			}
			.o_calendar_scale_buttons {
				margin-left: $bemo-spacing-level-2;
				.btn-group {
					button {
						margin-right: 0;
						border-radius: 0;
						&:first-child {
							border-top-left-radius: $bemo-border-radius-medium;
							border-bottom-left-radius: $bemo-border-radius-medium;
						}
						&:last-child {
							border-top-right-radius: $bemo-border-radius-medium;
							border-bottom-right-radius: $bemo-border-radius-medium;
						}
					}
				}
			}
			button {
				padding: 0 $bemo-spacing-level-2;
				&.btn-primary {
					color: $bemo-primary-color;
					text-transform: none;
					background-color: $bemo-primary-blue-light-color-05;
					border: 1px solid transparent;
					height: 32px;
					border-radius: 0;
					margin-right: 0;
					&.btn-time-off {
						border-radius: $bemo-border-radius-medium;
						margin-left: $bemo-spacing-level-2;
						font-weight: 400;
					}
					&.o_calendar_button_prev {
						border-top-left-radius: $bemo-border-radius-medium;
						border-bottom-left-radius: $bemo-border-radius-medium;
					}
					&.o_calendar_button_next {
						border-top-right-radius: $bemo-border-radius-medium;
						border-bottom-right-radius: $bemo-border-radius-medium;
					}
				}
				&.btn-allocation {
					height: 32px;
					text-transform: unset;
					margin-left: $bemo-spacing-level-2;
					font-weight: 400;
					&:hover {
						background-color: $bemo-primary-blue-light-color-05;
					}
				}
				@media (max-width: 1299.98px) {
					font-size: 12px;
				}
			}
		}
		@media (max-width: 1199.98px) {
			order: 2;
			margin-top: $bemo-spacing-level-3;
		}
		@media (max-width: 575.98px) {
			position: fixed;
			bottom: $bemo-spacing-level-2;
			right: $bemo-spacing-level-2;
			z-index: 500;
			margin-top: 0;
		}
	}
	.o_cp_bottom_right {
		> .o_search_options {
			margin: auto 0;
			.o_dropdown_toggler_btn {
				color: $bemo-neutral-darker-color;
				border: 0;
				padding: 0 $bemo-spacing-level-3 0 0;
				transition: $bemo-transition;
				&:hover {
					background: inherit;
					color: $bemo-primary-color;
					&:before {
						color: $bemo-primary-color;
					}
				}
				i {
					margin-right: $bemo-spacing-level-1;
				}
				&:first-child {
					margin-right: $bemo-spacing-level-4;
				}
				&:before {
					content: "\f078";
					color: $bemo-neutral-medium-sub-color;
					font-size: 10px;
					font-family: "FontAwesome";
					position: absolute;
					right: 0;
					top: 49%;
					line-height: 1;
					transform: translateY(-50%);
					transition: $bemo-transition;
				}
				> .fa-chevron-right.float-right {
					display: none;
				}
			}
			@media (max-width: 1599.98px) {
				margin-bottom: $bemo-spacing-level-2;
				margin-top: 0;
			}
			@media (max-width: 1199.98px) {
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				max-width: unset;
				margin-bottom: auto;
				margin-top: auto;
				min-height: auto;
			}
			@media (max-width: 767.98px) {
				display: none;
			}
		}
		> .o_cp_pager {
			padding-left: 0;
			margin: auto 0 auto auto;
			.o_pager_previous,
			.o_pager_next {
				cursor: pointer;
				font-size: 10px;
				color: $bemo-neutral-darker-color;
				width: $width-icon-small;
				height: $width-icon-small;
				padding: 0;
				border: 0;
				&:hover {
					color: $bemo-neutral-medium-sub-color;
					background-color: $bemo-primary-blue-light-color-06;
					border-color: $bemo-primary-blue-light-color-06;
				}
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&:disabled {
					color: $bemo-neutral-light-disable-color;
					cursor: not-allowed;
				}
			}
			.o_pager {
				.o_pager_counter {
					margin-right: $bemo-spacing-level-2;
				}
				@media (max-width: 1599.98px) {
					justify-content: flex-end;
				}
			}
			@media (max-width: 1599.98px) {
				order: 3;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
			@media (max-width: 1199.98px) {
				flex-basis: unset;
				-ms-flex-positive: unset;
				flex-grow: unset;
				max-width: unset;
			}
		}
		> .o_cp_switch_buttons {
			margin: auto 0 auto $bemo-spacing-level-3;
			border-radius: $bemo-border-radius-low;
			> .btn:not(:last-child):not(.dropdown-toggle),
			.btn-group > .btn-group:not(:last-child) > .btn {
				border-top-right-radius: $bemo-border-radius-low;
				border-bottom-right-radius: $bemo-border-radius-low;
			}
			> .btn:not(:first-child),
			.btn-group > .btn-group:not(:first-child) > .btn {
				border-top-left-radius: $bemo-border-radius-low;
				border-bottom-left-radius: $bemo-border-radius-low;
			}
			.o_switch_view {
				color: $bemo-neutral-darker-color;
				-ms-flex: 0 0 $width-icon-small;
				flex: 0 0 $width-icon-small;
				max-width: $width-icon-small;
				width: $width-icon-small;
				height: $width-icon-small;
				border: 0;
				padding: 0;
				line-height: 1;
				&.active {
					color: $bemo-primary-color;
				}
				&:hover,
				&.active {
					background: $bemo-primary-blue-light-color-06;
				}
				&:before {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				&:first-child {
					margin-left: 0;
				}
				+ .o_switch_view {
					margin-left: 8px;
				}
			}
			@media (max-width: 1599.98px) {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%;
				justify-content: flex-end;
				margin-bottom: $bemo-spacing-level-2;
			}
			@media (max-width: 1199.98px) {
				justify-content: flex-end;
				margin-bottom: auto;
				margin-right: $bemo-spacing-level-3;
			}
			@media (max-width: 767.98px) {
				margin-top: auto;
				justify-content: flex-end;
				> .btn {
					font-size: $bemo-font-size-default;
					-ms-flex: 0 0 $width-icon-small;
					flex: 0 0 $width-icon-small;
					max-width: $width-icon-small;
				}
			}
		}
		@media (max-width: 1199.98px) {
			order: 1;
		}
		@media (max-width: 767.98px) {
			justify-content: flex-end;
			order: 1;
		}
	}
	@media (max-width: 575.98px) {
		padding-right: $bemo-spacing-level-2;
		padding-left: $bemo-spacing-level-2;
	}
}

span.o_pager_value {
	&:focus {
		outline: none;
	}
}
