.o_form_view {
	overflow: hidden;
	background-color: $bemo-primary-blue-light-color-06;
	.o_form_sheet_bg {
		background: $bemo-neutral-white;
		border-bottom: 0;
		> .o_form_sheet {
			box-shadow: unset;
			margin: 0;
			min-width: 100%;
			max-width: 100%;
			border: 0;
			.oe_avatar {
				position: absolute;
				right: $bemo-spacing-level-3;
				top: $bemo-height-form-statusbar + $bemo-height-oe-button-box;
				img {
					min-width: 100px;
					min-height: 100px;
					max-height: 100px;
					max-width: 100px;
					border-radius: 50%;
					object-fit: cover;
					object-position: center center;
				}
				&.float-left {
					position: relative;
					right: unset;
					top: unset;
				}
			}
			.o_field_widget {
				&.o_field_image {
					.o_form_image_controls {
						border-radius: 50%;
					}
				}
			}
			@media (min-width: 992px) and (max-width: 1533.98px) {
				padding-right: $bemo-spacing-level-3;
				padding-left: $bemo-spacing-level-3;
			}
		}
		.o_form_statusbar {
			position: sticky;
			z-index: 200;
			top: 0;
			border-bottom: 1px solid $bemo-neutral-lighter-border-color;
			height: $bemo-height-form-statusbar;
			> .o_statusbar_buttons {
				> .btn {
					margin: 0 $bemo-spacing-level-4 0 0;
					padding: 0;
					background: transparent;
					border: 0;
					font-weight: 700;
					text-transform: uppercase;
					min-height: unset;
					&.btn-primary {
						color: $bemo-primary-color;
					}
					&.btn-secondary {
						color: $bemo-neutral-medium-sub-color;
					}
					&:hover {
						background: none;
					}
					&:focus {
						box-shadow: unset;
					}
				}
			}
			@media (max-width: 768px) {
				padding-top: $bemo-spacing-level-2;
				padding-bottom: $bemo-spacing-level-2;
				height: unset;
			}
		}
		.oe_button_box {
			.btn.oe_stat_button {
				border-top: 0;
				border-bottom: 0;
				> .o_button_icon {
					color: $bemo-primary-color;
					height: $bemo-height-oe-button-box;
					display: inline-flex;
					justify-content: center;
					align-items: center;
				}
				> .o_stat_info,
				> span {
					color: $bemo-primary-color;
					font-size: 12px;
				}
			}
		}
		.oe_title {
			max-width: 50%;
			width: 100%;
			margin-bottom: $bemo-spacing-level-7;
			padding-right: $bemo-spacing-level-3;
			h1 {
				display: flex;
			}
			span.o_field_widget {
				max-width: 100%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				width: initial;
				margin-top: 0;
			}
			&.request_title {
				display: flex;
				flex-wrap: wrap;
				div {
					&:first-child {
						order: 2;
					}
				}
				h2 {
					display: inline-flex;
					align-items: center;
					order: 1;
					> div.request-kanban-state {
						margin-bottom: 0;
					}
				}
			}
		}
		.oe_edit_only {
			small {
				display: inline-flex;
				align-items: center;
				margin-top: 0;
			}
		}
		.o_notebook {
			margin-top: $bemo-spacing-level-5;
			.nav-tabs {
				flex-flow: nowrap;
				margin: 0 -16px;
				padding: 0 $bemo-spacing-level-3;
				.nav-item {
					white-space: nowrap;
				}
			}
			&.request-notebook {
				.o_horizontal_separator {
					margin-bottom: $bemo-spacing-level-2;
				}
				.oe_form_field_html {
					p {
						margin: $bemo-spacing-level-2 0;
					}
				}
				.o_group {
					&.o_inner_group {
						&.oe_subtotal_footer {
							&.o_group_col_6 {
								margin-left: auto;
								padding-right: $bemo-spacing-level-3;
							}
						}
					}
				}
			}
		}
		.alert {
			margin: $bemo-spacing-level-3;
		}
	}
	.o_form_statusbar {
		> .o_statusbar_status {
			> .o_arrow_button {
				font-size: 10px;
				min-height: 100%;
				transition: $bemo-transition;
				&.btn-primary {
					&.disabled {
						font-weight: 700;
						color: $bemo-primary-color;
						background-color: $bemo-primary-blue-light-color-05;
						border-left: 1px solid $bemo-primary-blue-light-color-05;
						&::before,
						&:after {
							border-left-color: $bemo-primary-blue-light-color-05;
						}
					}
				}
				&:not(:first-child):before,
				&:not(:first-child):after {
					border-top: 20px solid transparent;
					border-bottom: 20px solid transparent;
					border-left: 10px solid $bemo-neutral-white;
					transition: $bemo-transition;
				}
			}
		}
	}
	.o_field_widget {
		margin-bottom: $bemo-spacing-level-3;
		&.o_priority {
			> .o_priority_star {
				margin: $bemo-spacing-level-2 0;
			}
		}
		&.o_form_uri {
			margin-bottom: 0;
		}
		&.o_readonly_modifier {
			margin-bottom: 0;
			&.oe_subtotal_footer_separator {
				margin-top: 0;
			}
		}
	}
	.o_group {
		display: flex;
		flex-wrap: wrap;
		margin: $bemo-spacing-level-3 -16px;
		width: unset;
		&.o_inner_group {
			display: flex;
			margin: 0;
			> tbody {
				width: 100%;
				> tr {
					> td {
						padding: 0;
						&.o_td_label {
							padding: 0 $bemo-spacing-level-3 0 0;
						}
						&[style="width: 50%;"] {
							padding: 0 $bemo-spacing-level-6 0 0;
						}
						.o_field_boolean {
							&.o_field_widget {
								&.o_boolean_toggle {
									width: 44px;
								}
							}
						}
					}
				}
			}
			&.oe_subtotal_footer {
				> tbody {
					> tr {
						&:first-child {
							> td {
								padding-top: 0;
							}
						}
						> td {
							&.o_td_label {
								padding: 0;
							}
						}
					}
				}
			}
		}
		.o_td_label {
			border-right: 0;
			.o_form_label {
				padding: $bemo-spacing-level-2 0 0 0;
			}
		}
		.o_group_col_6 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			margin-bottom: $bemo-spacing-level-3;
			padding-right: $bemo-spacing-level-3;
			padding-left: $bemo-spacing-level-3;
		}
		.o_field_widget {
			> .btn {
				padding: 0 0 0 $bemo-spacing-level-3;
				-ms-flex: 0 0 30px;
				flex: 0 0 30px;
				max-width: 30px;
				margin: 0;
			}
		}
		&.request-head-info {
			.request-head-info-item {
				padding-bottom: $bemo-spacing-level-2;
				button {
					&[name="action_start_work"],
					&[name="action_stop_work"] {
						position: relative;
						font-size: 10px;
						border-radius: 50%;
						-ms-flex: 0 0 24px;
						flex: 0 0 24px;
						max-width: 24px;
						height: 24px;
						padding: 0;
						i.fa {
							line-height: 1;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
						}
					}
					&[name="action_start_work"] {
						i.fa {
							margin-left: 1px;
							margin-bottom: 2px;
						}
					}
				}
			}
			.field-with-icon {
				.field-icon {
					margin-right: $bemo-spacing-level-1;
				}
			}
			~ .row {
				[class*="col-"] {
					div {
						.btn-link {
							&:before {
								content: "\f0c1 ";
								font-family: "FontAwesome";
								margin-right: $bemo-spacing-level-1;
							}
						}
						+ div {
							margin-top: $bemo-spacing-level-2;
						}
					}
				}
			}
		}
	}
	.oe_grey {
		margin: $bemo-spacing-level-2 0;
	}
	&.o_form_readonly {
		.o_td_label {
			.o_form_label {
				padding: 0 0 $bemo-spacing-level-3 0;
				&.o_status {
					padding: 0;
				}
			}
		}
	}
	&.o_form_editable {
		.o_form_sheet {
			.o_resume_group_header {
				.btn {
					color: $bemo-primary-color;
					font-weight: 700;
					background: transparent;
					border: 0;
					margin-top: 0;
					&:before {
						content: "\f067";
						font-family: "FontAweSome";
						font-size: 10px;
					}
				}
			}
			.o_group_name,
			.o_skill_cell {
				padding-left: 0;
			}
			.o_group_name {
				background: transparent;
			}
			.o_list_record_remove {
				> button {
					transition: $bemo-transition;
				}
			}
			.o_group_skills {
				.o_group_name {
					padding-top: $bemo-spacing-level-5;
				}
			}
		}
		.o_field_widget {
			&.o_field_boolean {
				padding-top: $bemo-spacing-level-2;
			}
			&.o_readonly_modifier {
				margin-bottom: $bemo-spacing-level-2;
				margin-top: $bemo-spacing-level-2;
			}
		}
		.oe_button_box {
			.o_field_widget {
				&.o_readonly_modifier {
					margin-bottom: 0;
					margin-top: 0;
				}
			}
		}
		.o_address_format {
			.o_address_city {
				width: 100%;
			}
			div {
				&.o_address_state {
					width: 100%;
				}
			}
			input {
				&.o_address_zip {
					width: 100%;
				}
			}
		}
		.o_group {
			&.o_inner_group {
				> tbody {
					> tr {
						> td {
							.o_field_boolean.o_field_widget {
								margin-top: $bemo-spacing-level-2;
							}
						}
					}
				}
			}
			&.request-head-info {
				.o_field_widget {
					&.o_readonly_modifier {
						margin-top: 0;
						margin-bottom: 0;
					}
				}
			}
		}
		.o_form_sheet_bg {
			.oe_title {
				&.request_title {
					h2 {
						div.request-kanban-state {
							margin-bottom: $bemo-spacing-level-2;
						}
					}
				}
			}
		}
		@media (min-width: 475px) {
			.o_row {
				> input {
					~ .btn-link {
						padding: 0;
						margin: 0;
						&:before {
							content: "\f0c1";
							font-family: "FontAwesome";
							margin-right: $bemo-spacing-level-1;
						}
					}
				}
				.o_input {
					~ .o_field_widget {
						width: 100% !important;
					}
				}
			}
		}
	}
	&.o_form_nosheet {
		background-color: $bemo-neutral-white;
		border-radius: $bemo-border-radius-medium;
	}
	.oe_avatar {
		> img {
			border: 5px solid $bemo-neutral-lighter-border-color;
		}
	}

	.o_horizontal_separator {
		font-size: 1.4rem;
		margin: 0;
		margin-bottom: $bemo-spacing-level-3;
	}
	.oe_button_box {
		height: $bemo-height-oe-button-box;
		@media (min-width: 992px) and (max-width: 1533.98px) {
			margin-right: -16px;
			margin-left: -16px;
		}
		.btn.oe_stat_button {
			&:hover,
			&:focus {
				background-color: transparent;
			}
		}
		&.o_full {
			.oe_stat_button:not(.o_invisible_modifier) ~ .oe_stat_button {
				&.dropdown-item {
					border-left: 0;
					border-top: 1px solid $bemo-neutral-lighter-border-color;
				}
			}
		}
	}
	select {
		cursor: pointer;
		&.o_field_widget {
			&.o_input {
				padding: 3px 0 4px;
			}
		}
	}
	input,
	textarea {
		&.o_field_translate {
			padding-right: $bemo-spacing-level-5;
		}
	}
	.tab-pane {
		.o_form_label {
			margin-bottom: $bemo-spacing-level-2;
		}
		.o_group {
			&.o_inner_group {
				&.oe_subtotal_footer {
					padding-right: 0;
				}
			}
		}
	}
	span {
		&.o_field_translate {
			padding: $bemo-spacing-level-1 $bemo-spacing-level-2 !important;
		}
	}
	.request-separator {
		position: relative;
		font-size: 12px;
		color: $bemo-neutral-medium-sub-color;
		padding: $bemo-spacing-level-3 0;
		height: auto;
		border-bottom: 0;
		margin-top: 0;
		margin-bottom: 0 !important;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			border: 1px solid $bemo-neutral-lighter-border-color;
			transform: translateY(-50%);
		}
		.request-separator-text {
			z-index: 10;
		}
	}
	@media (min-width: 475px) {
		.o_row {
			width: 100% !important;
			&.o_field_widget {
				width: 100% !important;
			}
		}
		.o_group {
			&.o_inner_group {
				> tbody {
					width: 100%;
					> tr {
						> td {
							.o_row,
							.o_row.o_field_widget {
								flex-wrap: wrap;
							}
						}
					}
				}
			}
		}
	}
}

.bemo_chatter_position_sided {
	.o_form_view:not(.o_form_nosheet) {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		.o_form_sheet_bg {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			overflow-y: auto;
			max-height: 100%;
			border-radius: $bemo-border-radius-medium;
			@media (max-width: 1439.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		> .o_FormRenderer_chatterContainer {
			-ms-flex: 0 0 $bemo-chatter-position-sided-width;
			flex: 0 0 $bemo-chatter-position-sided-width;
			max-width: $bemo-chatter-position-sided-width;
			overflow-y: auto;
			background: $bemo-neutral-white;
			border-radius: $bemo-border-radius-medium;
			padding: 0;
			max-height: 100%;
			padding-bottom: $bemo-spacing-level-3;
			margin-left: $bemo-spacing-level-3;
			@media (max-width: 1599.98px) {
				-ms-flex: 0 0 30%;
				flex: 0 0 30%;
				max-width: 30%;
			}
			@media (max-width: 1439.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-top: $bemo-spacing-level-4;
				margin-left: 0;
			}
		}
		@media (max-width: 1439.98px) {
			height: auto;
		}
	}
}

.o-kanban-button-new {
	&:focus {
		box-shadow: none;
	}
}

.o_form_sheet {
	.o_hr_skills_group {
		.o_list_view {
			.o_list_table {
				border: 0;
				.o_resume_group_header {
					vertical-align: middle;
					.o_group_name {
						background: $bemo-primary-blue-light-color-05;
						border-top-right-radius: $bemo-border-radius-medium;
						border-bottom-right-radius: $bemo-border-radius-medium;
						padding: $bemo-spacing-level-1;
					}
				}
				.o_resume_timeline_cell {
					.rounded-circle {
						width: auto;
						height: auto;
						line-height: 1;
						&.bg-info {
							color: $bemo-primary-color;
							background: unset !important;
						}
						&:after {
							color: $bemo-neutral-darker-color;
							content: "\f102";
							font-family: "FontAwesome";
						}
					}
				}
				tr {
					&:hover {
						background: transparent;
					}
				}
				td {
					border-bottom: 0;
				}
			}
		}
		.o_group_header {
			&:first-child {
				> .o_group_name {
					padding-top: $bemo-spacing-level-3;
					padding-bottom: 6px;
				}
			}
			.o_field_x2many_list_row_add {
				.btn {
					color: $bemo-primary-color;
					font-weight: 700;
					background: transparent;
					border: 0;
					margin-top: 0;
					&:before {
						content: "\f067";
						font-family: "FontAweSome";
						font-size: 10px;
					}
					&:focus {
						box-shadow: unset;
					}
				}
			}
		}
		&.o_group_skills {
			.o_horizontal_separator {
				background: $bemo-primary-blue-light-color-05;
				border-top-right-radius: $bemo-border-radius-medium;
				border-bottom-right-radius: $bemo-border-radius-medium;
				padding: $bemo-spacing-level-1;
				margin-bottom: 0;
			}
			.o_skill_cell {
				padding: 6px 0;
				vertical-align: middle !important;
			}
		}
	}
	.o_group_resume {
		.o_data_row {
			td {
				padding: $bemo-spacing-level-3 0.5rem;
				.o_resume_line {
					padding-top: 0.8rem;
				}
				&.o_resume_timeline_cell {
					&:before {
						content: none;
					}
				}
			}
		}
	}
}

.o_form_view .oe_inline.o_inner_group,
.o_form_view .o_inner_group.oe_left,
.o_form_view .o_inner_group.oe_right,
.o_form_view .o_inner_group.o_group.oe_subtotal_footer {
	width: 33% !important;
}

.o_form_view.o_form_readonly .o_row:not(.o_row_readonly),
.o_form_view.o_form_readonly .o_row:not(.o_row_readonly) > div {
	display: inline-flex;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td span.o_field_widget,
.o_form_view
	.o_group.o_inner_group
	> tbody
	> tr
	> td
	.o_field_boolean.o_field_widget,
.o_form_view .o_group.o_inner_group > tbody > tr > td .oe_avatar.o_field_widget,
.o_form_view
	.o_group.o_inner_group
	> tbody
	> tr
	> td
	.o_form_uri.o_field_widget {
	padding: 0;
	border: 0;
	height: auto;
}
