.bemo_hr_attendance_kiosk_mode_container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: $bemo-primary-dark-color-01;
}

.bemo_hr_attendance_kiosk_mode {
	position: relative;
	max-width: 698px;
	width: 100%;
	border-radius: $bemo-border-radius-higher;
	background-color: $bemo-neutral-white;
	padding-top: $bemo-spacing-level-4;
	overflow: hidden;
	@media (max-width: 767.98px) {
		margin: 0 16px;
	}
	@media (max-width: 575.98px) {
		padding-top: $bemo-spacing-level-3;
	}
}

.bemo_hr_attendance_employee {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	padding: 0 $bemo-spacing-level-4;
	@media (max-width: 575.98px) {
		align-items: center;
		padding: 0 $bemo-spacing-level-3;
	}
}

.bemo_hr_attendance_user_avatar {
	-ms-flex: 0 0 120px;
	flex: 0 0 120px;
	max-width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: $bemo-border-radius-hight;
	border: 2px solid $bemo-neutral-lighter-border-color;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	@media (max-width: 575.98px) {
		-ms-flex: 0 0 56px;
		flex: 0 0 56px;
		max-width: 56px;
		height: 56px;
	}
}

.bemo_hr_attendance_user_name {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	padding-left: $bemo-spacing-level-4;
	b {
		font-size: 2.88rem;
		color: $bemo-primary-blue-medium-color-03;
		display: block;
		line-height: 1.2;
		margin-bottom: $bemo-spacing-level-1;
	}
	h1 {
		font-size: 2rem;
		font-weight: 400;
		margin-bottom: 0;
		line-height: $bemo-line-height-default;
	}
	@media (max-width: 767.98px) {
		h1,
		b {
			font-size: $bemo-font-size-default;
		}
	}
	@media (max-width: 575.98px) {
		padding-left: $bemo-spacing-level-2;
	}
}

.bemo_hr_attendance_time {
	margin-top: $bemo-spacing-level-3;
	padding: 0 $bemo-spacing-level-4;
	p {
		font-size: 1.5rem;
		color: $bemo-neutral-medium-sub-color;
		margin-bottom: 0;
	}
	b {
		color: $bemo-neutral-dark-color;
	}
	@media (max-width: 575.98px) {
		margin-top: $bemo-spacing-level-2;
		padding: 0 $bemo-spacing-level-3;
		p,
		b {
			font-size: $bemo-font-size-default;
		}
	}
}

.bemo_hr_attendance_button {
	text-align: center;
	padding: $bemo-spacing-level-4;
	margin-top: $bemo-spacing-level-6;
	h3 {
		font-size: 2rem;
		margin-bottom: $bemo-spacing-level-4;
	}
	span {
		display: inline-block;
		color: $bemo-neutral-medium-sub-color;
		margin-top: $bemo-spacing-level-3;
	}
	&.bemo_hr_attendance_button_checkin {
		background-color: $bemo-semantic-information-lightest-color;
		.o_hr_attendance_sign_in_out_icon,
		.o_hr_attendance_button_dismiss {
			background-color: $bemo-semantic-information-color;
			&:hover {
				background-color: $bemo-semantic-information-light-color;
			}
		}
	}
	&.bemo_hr_attendance_button_checkout {
		background-color: $bemo-semantic-critical-lightest-color;
		.o_hr_attendance_sign_in_out_icon,
		.o_hr_attendance_button_dismiss {
			background-color: $bemo-semantic-critical-color;
			&:hover {
				background-color: $bemo-semantic-critical-light-color;
			}
		}
	}
	@media (max-width: 575.98px) {
		padding: $bemo-spacing-level-3;
		margin-top: $bemo-spacing-level-2;
		h3 {
			font-size: $bemo-font-size-default;
			margin-bottom: $bemo-spacing-level-3;
		}
	}
}

.o_hr_attendance_sign_in_out_icon,
.o_hr_attendance_button_dismiss {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 178px;
	height: 178px;
	margin: 0 auto;
	border-radius: 50%;
	transition: $bemo-transition;
	> i.fa {
		font-size: 8rem;
		color: $bemo-neutral-white;
	}
	&:hover {
		transform: translateX(8px);
	}
	@media (max-width: 575.98px) {
		width: 120px;
		height: 120px;
		> i.fa {
			font-size: 5rem;
		}
	}
}

.o_hr_attendance_button_dismiss {
	border: 0;
	&:focus {
		outline: none;
	}
}
