* {
	/* width */
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: rgba(
			$color: $bemo-primary-blue-light-color-05,
			$alpha: 0.7
		);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $bemo-primary-blue-light-color-04;
		transition: $bemo-transition;
		border-radius: 3px;
		&:hover {
			background: $bemo-primary-blue-light-color-03;
		}
	}
}

:focus {
	outline: none;
}

html {
	.o_web_client {
		> .o_action_manager {
			> .o_action {
				background: $bemo-primary-blue-light-color-06;
				> .o_content {
					margin: $bemo-spacing-level-3;
					@media (max-width: 575.98px) {
						margin: $bemo-spacing-level-2;
					}
				}
			}
		}
	}
}

.oe_wait {
	cursor: progress;
}

//----------------------------------------------------------
// Views
//----------------------------------------------------------

.o_content,
.modal-content {
	max-width: 100%;
}

//----------------------------------------------------------
// Tooltips
//----------------------------------------------------------

.o_tooltip {
	&.o_animated {
		display: none;
	}
}
