.o_request_kanban {
	min-width: $bemo-kanban-view-4 !important;
	.o_request_kanban_header {
		background-color: transparent !important;
		border-radius: $bemo-border-radius-medium $bemo-border-radius-medium 0 0;
		padding-right: $bemo-spacing-level-2;
		padding-bottom: $bemo-spacing-level-2;
		flex-wrap: wrap;
		.o_header_title_box {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			display: flex;
			flex-wrap: wrap;
			.o_header_title {
				font-size: 16px;
				color: $bemo-primary-color;
			}
			.o_header_box_item {
				&[name="title"] {
					display: block;
					-ms-flex: 0 0 calc(100% - 16px);
					flex: 0 0 calc(100% - 16px);
					max-width: calc(100% - 16px);
					overflow: hidden;
					display: -webkit-box;
					text-overflow: ellipsis;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 1;
					order: 1;
				}
				&[name="activities_box"],
				&[name="priority_box"] {
					display: inline-flex;
					align-items: center;
				}
				&[name="activities_box"] {
					order: 3;
				}
				&[name="priority_box"] {
					order: 4;
					padding-left: $bemo-spacing-level-2;
				}
				&:nth-child(3) {
					-ms-flex: 0 0 16px;
					flex: 0 0 16px;
					max-width: 16px;
					order: 2;
				}
			}
		}
		.o_header_icons_info {
			margin-left: 0;
			.icon {
				color: $bemo-neutral-medium-sub-color;
			}
		}
		.o_header_right_info {
			> .o_header_stage {
				font-size: 10px;
				border-radius: $bemo-border-radius-hight;
			}
		}
	}
	.o_field_widget {
		&.o_priority {
			> .o_priority_star {
				font-size: $bemo-font-size-default;
			}
		}
	}
	.o_request_kanban_content {
		.o_request_kanban_row {
			padding-bottom: $bemo-spacing-level-2;
			align-items: flex-start;
			border-bottom: 1px dashed $bemo-neutral-lighter-border-color;
			+ .o_request_kanban_row {
				margin-top: $bemo-spacing-level-2;
			}
			.o_partner_icon {
				border-radius: 50%;
				border: 2px solid $bemo-neutral-lighter-border-color;
				overflow: hidden;
				width: 30px;
				height: 30px;
				min-width: 30px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			.o_request_kanban_text {
				font-size: 12px;
				overflow: hidden;
				display: -webkit-box;
				text-overflow: ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
			}
			&.o_request_kanban_info {
				font-size: 12px;
			}
		}
		.o_request_kanban_dates {
			.o_date {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-right: 0;
				font-size: 12px;
				.oe_kanban_image {
					border-radius: 50%;
					margin-right: $bemo-spacing-level-2;
					border: 2px solid $bemo-neutral-lighter-border-color;
				}
			}
		}
	}
}

div.request_kanban_tags {
	height: unset;
	margin-top: 0;
	margin-left: 0;
	line-height: unset;
	div.o_kanban_tags {
		> span.o_tag {
			height: auto;
			width: auto;
			min-width: 40px;
			min-height: 8px;
			padding-bottom: 1px;
			padding-right: 12px;
			text-indent: unset;
			position: relative;
			margin-right: 0 !important;
			border-radius: $bemo-border-radius-hight;
			&:after {
				content: attr(title);
				color: $bemo-neutral-white;
				font-size: 10px;
			}
			+ span.o_tag {
				margin-left: $bemo-spacing-level-2;
			}
		}
	}
}

.o_request_dashboard_kanban {
	overflow: hidden;
	.o_request_dashboard_kanban_main {
		padding: $bemo-spacing-level-2;
		.o_request_dashboard_content {
			div:not(.o_primary) {
				font-size: 12px;
			}
			.o_primary {
				font-size: $bemo-font-size-default;
				font-weight: 500;
			}
			.o_buttons {
				margin-top: $bemo-spacing-level-2;
				a {
					margin: 0;
					+ a {
						margin-left: $bemo-spacing-level-2;
					}
					&:hover {
						color: $bemo-primary-color;
					}
				}
			}
		}
		&[style*="background-color"] {
			background-color: $bemo-neutral-white !important;
		}
	}
	.o_request_dashboard_kanban_boxes {
		.o_request_dashboard_kanban_box {
			transition: $bemo-transition;
			&:nth-child(1) {
				background-color: $bemo-semantic-information-lighter-color;
				border-top-right-radius: $bemo-border-radius-low;
				&:hover {
					background-color: $bemo-semantic-information-light-color;
				}
			}
			&:nth-child(2) {
				background-color: $bemo-semantic-positive-lighter-color;
				border-bottom-right-radius: $bemo-border-radius-low;
				&:hover {
					background-color: $bemo-semantic-positive-light-color;
				}
			}
		}
	}
}
