.custom-control.custom-checkbox {
	.custom-control-input:not(:checked):not(:indeterminate) {
		~ .custom-control-label:before {
			outline: none;
		}
	}
}

.custom-control-label {
	&:before,
	&:after {
		width: 16px;
		height: 16px;
	}
}

.o_image_24_cover {
	border-radius: 50%;
	border: 2px solid $bemo-neutral-lighter-border-color;
}
