.ks-tv-item {
	&.ks_chart_container {
		height: 100%;
		width: 100%;
		margin: auto;
	}
	&.d-flex {
		width: 100%;
		margin: auto;
	}
	&.ks_list_view {
		height: 100%;
	}
}

.owl-item {
	height: 90vh;
}
.owl-nav {
	text-align: center;
}

.ks_float_tv {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: 999;
	.owl-carousel .owl-nav button.owl-next,
	.owl-carousel .owl-nav button.owl-prev,
	.owl-carousel button.owl-dot {
		color: $bemo-neutral-white;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 60px;
		&:focus {
			outline: none;
		}
	}
	.owl-nav {
		.owl-prev {
			left: -60px;
		}
		.owl-next {
			right: -60px;
		}
	}
	.ks_dashboarditem_chart_container {
		height: 100%;
	}
	.owl-carousel {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 90vh;
		width: 80vw;
		&.owl-rtl {
			direction: ltr;
			.fa-angle-left {
				display: none;
			}
		}
	}
}

.ks_stop_tv_dashboard {
	position: fixed;
	top: $bemo-spacing-level-3;
	right: $bemo-spacing-level-3;
	z-index: 10;
	color: $bemo-neutral-white;
	font-size: 28px;
	&:hover {
		color: $bemo-neutral-white;
	}
	&:focus {
		box-shadow: unset;
	}
}

.tv-modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba($color: $bemo-neutral-black, $alpha: 0.8);
}

.ks-tv-item {
	.ks_list_view_container {
		height: 100%;
	}
	.ks_dashboard_kpi {
		height: 150px;
	}
}

@media (min-width: 1440px) {
	.ks-tv-item {
		.ks_dashboard_item_hover {
			min-width: 350px;
		}
		.ks_dashboard_item_hover {
			margin: $bemo-spacing-level-3;
			min-width: 400px;
		}
	}
	.ks-tv-kpi {
		.ks_dashboard_item_hover {
			min-width: 350px;
			min-height: 208px;
		}
		.ks_dashboard_icon_l5 {
			> img {
				width: 36px;
				height: 36px;
			}
		}
	}

	.ks-tv-item .ks_dashboard_kpi_name_preview,
	.ks-tv-item .ks_dashboard_item_name_l5,
	.ks-tv-item .ks_dashboard_item_name_l3,
	.ks-tv-item .ks_dashboard_item_name_l2 {
		font-size: 26px;
	}
	.ks-tv-item .ks_dashboard_icon_l5 span,
	.ks-tv-kpi .ks_dashboard_icon_l5 span {
		font-size: 36px;
	}

	.ks-tv-item .ks_dashboard_item_hover #ksListViewTable td,
	.ks-tv-item .ks_dashboard_item_hover #ksListViewTable th,
	.ks-tv-item .ks_dashboard_item_hover .ks_list_view_heading {
		font-size: 20px;
	}
	.ks-tv-kpi .ks_dashboard_item_hover.ks_dashboard_kpi .text-center.mt-1,
	.ks-tv-kpi
		.ks_dashboard_item_hover.ks_dashboard_kpi
		.ks_progress
		.text-center,
	.ks-tv-kpi .ks_dashboard_item_hover .ks_target_previous {
		font-size: 16px;
	}
}

.ks_nodata_list_view_preview {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ks_nodata_to_do_view {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $bemo-spacing-level-4;
}

.o_field_widget {
	&[name="ks_list_view_preview"],
	&[name="ks_to_do_preview"] {
		padding: $bemo-spacing-level-4;
		border: 2px dashed $bemo-primary-blue-light-color-04;
		background-color: $bemo-primary-blue-light-color-06;
		margin-bottom: 0;
		.ks_chart_card_header {
			padding: 0.75rem;
		}
	}
	&[name="ks_graph_preview"] {
		.card {
			width: 100%;
			border-radius: $bemo-border-radius-medium;
			border: 0;
			box-shadow: $bemo-box-shadow-ks-dashboard-item;
			overflow: hidden;
		}
		.ks_chart_card_header {
			padding: $bemo-spacing-level-3;
		}
		.card-body {
			padding: $bemo-spacing-level-3;
		}
	}
	&[name="ks_to_do_preview"] {
		.ks_chart_card_header {
			.ks_chart_heading {
				color: $bemo-neutral-white;
			}
		}
	}
}

#ksListViewTable {
	margin-bottom: 0;
	.ks_dn_th {
		color: $bemo-neutral-white;
		background-color: $bemo-primary-color;
		position: sticky;
		top: 0;
		.ks_list_heder_hover {
			opacity: 0;
			transition: $bemo-transition;
		}
		&:hover {
			.ks_list_heder_hover {
				opacity: 1;
			}
		}
	}
	&.ks_list_view_layout_2 {
		.ks_dn_th {
			color: $bemo-neutral-dark-color;
			background-color: $bemo-primary-blue-light-color-06;
		}
	}
	&.ks_list_view_layout_3 {
		.ks_table_body {
			td {
				border-right: 0;
				border-left: 0;
			}
		}
	}
}

@media (min-width: 1820px) {
	.ks-tv-item {
		.ks_dashboard_item_hover {
			min-height: 164px;
		}
	}
}

.ks_minus {
	display: none;
}

.ks_plus {
	display: none;
}

.list_header {
	white-space: nowrap;
}

.ks_hide_display {
	display: none;
}
