.banner-title-page {
	position: relative;
	height: 30vh;
	background-color: $bemo-primary-color;
	background-image: var(--data-bg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	> .container {
		height: 100%;
	}
	h1 {
		text-align: center;
		color: $bemo-neutral-white;
		font-size: 2.8rem;
		margin-bottom: 0;
		padding-top: $bemo-spacing-level-5;
	}
	@media (max-width: 1024.98px) {
		padding-top: $bemo-spacing-level-4;
		padding-bottom: $bemo-spacing-level-4;
		min-height: 20vh;
	}
	@media (max-width: 575.98px) {
		height: 20vh;
		h1 {
			font-size: 2rem;
		}
	}
}
