.hvh-cart-shopping {
	padding-bottom: $bemo-spacing-level-4;
	background-color: $bemo-primary-blue-light-color-06;
}

.hvh-cart-products,
.hvh-cart-summary {
	background-color: $bemo-neutral-white;
	border-radius: $bemo-border-radius-hight;
	height: 100%;
	overflow: hidden;
	table {
		width: 100%;
		th {
			font-weight: 700;
		}
	}
	.table-cart-head {
		padding: 0 $bemo-spacing-level-2;
		h3 {
			font-size: 2.2rem;
			font-weight: 400;
		}
	}
}

.hvh-cart-summary {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.table-cart-products {
	padding: $bemo-spacing-level-3;
	table {
		td,
		th {
			padding: $bemo-spacing-level-3 $bemo-spacing-level-2;
		}
		tbody {
			tr {
				&:not(:last-child) {
					border-bottom: 1px solid $bemo-neutral-lighter-border-color;
				}
			}
		}
	}
	.td-img {
		width: 64px;
		div {
			width: 48px;
			height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $bemo-primary-color;
			border-radius: $bemo-border-radius-low;
			overflow: hidden;
		}
	}
	.td-num-users {
		> .hvh-pricing-users {
			max-width: 220px;
			width: 100%;
			.form-control {
				&:focus {
					border-color: $bemo-primary-blue-light-color-02;
					~ .input-group-append {
						.input-group-text {
							border-width: 1px;
							border-color: $bemo-primary-blue-light-color-02;
						}
					}
				}
			}
		}
	}
	.td-product {
		color: $bemo-primary-color;
		font-weight: 700;
	}
	.td-price,
	.td-result-pricing-users {
		font-size: 1.33334rem;
	}
	.td-result-pricing-users {
		color: $bemo-primary-color;
	}
	.td-action {
		i {
			transition: 0.3s all ease-in-out;
			&:hover {
				color: $bemo-semantic-negative-color;
			}
		}
	}
}

.table-order-total,
.table-cart-summary {
	table {
		th,
		td {
			padding: $bemo-spacing-level-2;
		}
		td {
			font-size: 1.33334rem;
			&:last-child {
				text-align: right;
			}
		}
	}
}

.table-cart-summary {
	padding: $bemo-spacing-level-3;
	.table-cart-head {
		margin-bottom: $bemo-spacing-level-4;
	}
}

.table-order-total {
	margin-top: auto;
	background: $bemo-primary-blue-light-color-05;
	padding: $bemo-spacing-level-2;
}
