// map-get($o-theme-color-palette, primary);
// map-get($o-theme-color-palette, secondary);
// map-get($o-theme-color-palette, light);
// map-get($o-theme-color-palette, dark);

section.bemo-hero-banner {
	.item-hero-banner {
		position: relative;
	}
	.hero-banner-img {
		height: 80vh;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.hero-banner-content-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.container,
		.hero-banner-content-wrapper {
			height: 100%;
		}
		.hero-banner-content-wrapper {
			position: relative;
		}
	}
	.hero-banner-content {
		position: absolute;
		left: 0;
		top: 40%;
		transform: translateY(-50%);
		max-width: 50%;
	}
	.contents {
		h2,
		p {
			color: $bemo-neutral-white;
		}
		h2 {
			font-size: 6.8rem;
			font-weight: 900;
			margin-bottom: $bemo-spacing-level-4;
		}
		p {
			font-size: 1.5rem;
			letter-spacing: 0.06rem;
			margin-bottom: $bemo-spacing-level-4;
		}
	}
	.call-to-actions {
		display: inline-flex;
	}
	.btn-hero-banner {
		color: $bemo-neutral-white;
		padding: $bemo-spacing-level-3 $bemo-spacing-level-6;
		border-radius: $bemo-border-radius-higher;
		+ .btn-hero-banner {
			margin-left: $bemo-spacing-level-4;
		}
		&.dark {
			color: map-get($o-theme-color-palette, dark);
		}
		&:hover {
			color: map-get($o-theme-color-palette, primary);
			background-color: map-get($o-theme-color-palette, light);
			transition: $bemo-transition;
		}
	}
	.btn-primary-hero-banner {
		background-color: map-get($o-theme-color-palette, primary);
	}
	.btn-secondary-hero-banner {
		background-color: rgba($color: $bemo-neutral-white, $alpha: 0.2);
	}
	.swiper-slide {
		.hero-banner-content {
			h2,
			p,
			.call-to-actions {
				transform: translateX(-32px);
				opacity: 0;
			}
		}
		&.swiper-slide-active {
			h2,
			p,
			.call-to-actions {
				transform: translateX(0);
				opacity: 1;
				transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
			}
			p {
				transition-delay: 0.4s;
			}
			.call-to-actions {
				transition-delay: 0.8s;
			}
		}
	}
	.bemo-button-navigation-slider {
		&.next-slider {
			right: $bemo-spacing-level-5;
		}
		&.prev-slider {
			left: $bemo-spacing-level-5;
		}
	}
}
