<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- *** META *** //-->
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- *** CSS *** //-->
		<link rel="stylesheet" href="./css/core.min.css"/>
		<link rel="stylesheet" href="./css/header.min.css"/>
		<link rel="stylesheet" href="./css/footer.min.css"/>
		<link rel="stylesheet" href="./css/main.min.css"/>
		<!-- *** FAVICON *** //-->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<!-- *** TITLE *** //-->
		<title>Bemo Pricing | Bemo</title>
	</head>
	<body>
		<!-- *** HEADER *** //-->
		<header class="hvh-main-header">
			<div class="container">
				<div class="hvh-main-header-main"><a class="hvh-logo-main-header" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
					<div class="hvh-header-buttons"><a class="btn btn-login" href="login.html"><i class="fal fa-sign-in-alt"></i><span>Đăng nhập</span></a>
						<div class="account">
							<div class="avatar"><img class="lazyload blur-up fullsize object-cover" src="./images/avatar-user-default.png" alt="AVATAR"/></div>
							<div class="name"><span>Huyen Pham</span></div>
						</div>
					</div>
					<nav class="hvh-primary-nav">
						<ul>
							<li class="has-sub"><a href="#">Ứng dụng</a></li>
							<li class="has-sub"><a href="#">Cộng đồng</a></li>
							<li><a href="index.html">Giá cả</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- *** MAIN *** //-->
		<main>
			<!-- *** BANNER TITLE PAGE *** //-->
			<section class="banner-title-page">
				<div class="container">
					<h1>Định giá Bemo</h1>
				</div>
			</section>
			<!-- *** PRICING *** //-->
			<section class="hvh-pricing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8">
							<!-- *** FORM PRICING *** //-->
							<div class="hvh-pricing-form">
								<div class="hvh-pricing-step">
									<div class="row">
										<div class="col-lg-6">
											<div class="hvh-pricing-wrapper">
												<div class="hvh-pricing-step-head">
													<h3>Chọn số lượng người dùng</h3>
												</div>
												<div class="hvh-pricing-step-body">
													<div class="hvh-pricing-users">
														<div class="input-group">
															<input class="form-control border-primary-blue-light-color-05" type="number" min="1" value="1"/>
															<div class="input-group-append"><span class="input-group-text bg-primary-blue-light-5 border-primary-blue-light-color-05">Người sử dụng</span></div>
														</div>
														<div class="hvh-result-pricing-users"><b class="hvh-pricing-user-pricing-yearly"><span class="hvh-pricing-user-amount-yearly">120.000</span><span class="hvh-pricing-currency">đ</span></b>
															<del class="hvh-pricing-user-pricing-yearly"><span class="hvh-pricing-user-amount-yearly-full">160.000</span><span class="hvh-pricing-currency">đ</span></del><small>/người dùng/tháng</small>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="hvh-pricing-wrapper">
												<div class="hvh-pricing-step-head">
													<h3>Chọn loại tiền tệ</h3>
												</div>
												<div class="hvh-pricing-step-body">
													<div class="hvh-pricing-currencies">
														<select class="custom-select" id="currency_id" name="currency_id">
															<option value="value">Chọn loại tiền tệ</option>
															<option value="test">Vietnam Dong</option>
															<option value="test">Vietnam Dong</option>
															<option value="test">Vietnam Dong</option>
															<option value="test">Vietnam Dong</option>
															<option value="test">Vietnam Dong</option>
															<option value="test">Vietnam Dong</option>
															<option value="test">Vietnam Dong</option>
															<option value="test">Vietnam Dong</option>
															<option value="test">Vietnam Dong</option>
															<option value="test">Vietnam Dong</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="hvh-pricing-step">
									<div class="row">
										<div class="col-lg-12">
											<div class="hvh-pricing-wrapper">
												<div class="hvh-pricing-step-head">
													<h3>Chọn ứng dụng của bạn</h3>
												</div>
												<div class="hvh-pricing-step-body">
													<div class="list-module-items-container">
														<div class="group-module">
															<div class="group-module-name">Nhân sự</div>
															<div class="form-container">
																<div class="form-row">
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="group-module">
															<div class="group-module-name">Nhân sự</div>
															<div class="form-container">
																<div class="form-row">
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="group-module">
															<div class="group-module-name">Nhân sự</div>
															<div class="form-container">
																<div class="form-row">
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="group-module">
															<div class="group-module-name">Nhân sự</div>
															<div class="form-container">
																<div class="form-row">
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																	<div class="col-12 col-sm-6">
																		<label class="app-item">
																			<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																			<div class="hvh-pricing-app-name">
																				<div class="hvh-pricing-app-real-name lcl lcl-2">CRM - Quản lý quan hệ khách hàng</div>
																				<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																			</div>
																			<div class="hvh-form-checkbox-module">
																				<div class="custom-checkbox">
																					<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																				</div>
																			</div>
																		</label>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="hvh-pricing-step">
									<div class="row">
										<div class="col-lg-12">
											<div class="hvh-pricing-wrapper">
												<div class="hvh-pricing-step-head">
													<h3>Tích hợp thêm</h3>
												</div>
												<div class="hvh-pricing-step-body">
													<div class="list-module-items-container">
														<div class="form-container">
															<div class="form-row">
																<div class="col-12 col-sm-6">
																	<label class="app-item">
																		<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																		<div class="hvh-pricing-app-name">
																			<div class="hvh-pricing-app-real-name lcl lcl-1">CRM - Quản lý quan hệ khách hàng</div>
																			<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																		</div>
																		<div class="hvh-form-checkbox-module">
																			<div class="custom-checkbox">
																				<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																			</div>
																		</div>
																	</label>
																</div>
																<div class="col-12 col-sm-6">
																	<label class="app-item">
																		<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																		<div class="hvh-pricing-app-name">
																			<div class="hvh-pricing-app-real-name lcl lcl-1">CRM - Quản lý quan hệ khách hàng</div>
																			<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																		</div>
																		<div class="hvh-form-checkbox-module">
																			<div class="custom-checkbox">
																				<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																			</div>
																		</div>
																	</label>
																</div>
																<div class="col-12 col-sm-6">
																	<label class="app-item">
																		<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																		<div class="hvh-pricing-app-name">
																			<div class="hvh-pricing-app-real-name lcl lcl-1">CRM - Quản lý quan hệ khách hàng</div>
																			<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																		</div>
																		<div class="hvh-form-checkbox-module">
																			<div class="custom-checkbox">
																				<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																			</div>
																		</div>
																	</label>
																</div>
																<div class="col-12 col-sm-6">
																	<label class="app-item">
																		<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																		<div class="hvh-pricing-app-name">
																			<div class="hvh-pricing-app-real-name lcl lcl-1">CRM - Quản lý quan hệ khách hàng</div>
																			<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																		</div>
																		<div class="hvh-form-checkbox-module">
																			<div class="custom-checkbox">
																				<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																			</div>
																		</div>
																	</label>
																</div>
																<div class="col-12 col-sm-6">
																	<label class="app-item">
																		<div class="hvh-pricing-app-icon"><img class="lazyload blur-up" src="./images/icons/icon-module.svg" alt="CRM - Quản lý quan hệ khách hàng"/></div>
																		<div class="hvh-pricing-app-name">
																			<div class="hvh-pricing-app-real-name lcl lcl-1">CRM - Quản lý quan hệ khách hàng</div>
																			<div class="hvh-pricing-app-price"><b><span class="amount_to_localize">$8.00 </span><span class="hvh-pricing-currency">USD</span></b>/tháng</div>
																		</div>
																		<div class="hvh-form-checkbox-module">
																			<div class="custom-checkbox">
																				<input class="hvh-pricing-app-checkbox" type="checkbox"/>
																			</div>
																		</div>
																	</label>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="hvh-pricing-step">
									<div class="row">
										<div class="col-lg-12">
											<div class="hvh-pricing-wrapper">
												<div class="hvh-pricing-step-head">
													<h3>Chọn loại lưu trữ của bạn</h3>
												</div>
												<div class="hvh-pricing-step-body">
													<ul class="hvh-pricing-hosting-list">
														<li class="hvh-pricing-item-hosting">
															<label class="group-custom-checkbox">
																<div class="custom-checkbox">
																	<input type="radio" name="hosting"/>
																</div><span>Lưu trữ đám mây*</span>
															</label>
														</li>
														<li class="hvh-pricing-item-hosting">
															<label class="group-custom-checkbox">
																<div class="custom-checkbox">
																	<input type="radio" name="hosting"/>
																</div><span>On-premise</span>
															</label>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<!-- *** PRICING BOARD *** //-->
							<div class="hvh-pricing-board">
								<div class="board-header tab-container">
									<ul class="tab__list">
										<li class="item" toggle-for="tab-pane-yearly"><span>Hằng năm</span></li>
										<li class="item" toggle-for="tab-pane-monthly"><span>Hằng tháng</span></li>
									</ul>
									<div class="tab__content">
										<div class="content" tab-id="tab-pane-yearly">
											<table id="o_yearly_table">
												<tbody>
													<tr>
														<td><b><span class="hvh-pricing-pricing_users_num">400</span></b><a href="#">Người sử dụng</a></td>
														<td><b class="hvh-pricing-users-price-yearly">$8,000</b><span class="hvh-pricing-users-price-currency">đ</span></td>
													</tr>
													<tr>
														<td><span>Giảm giá cho người dùng <sup>(1)</sup></span></td>
														<td><b class="hvh-pricing-users-price-discount-yearly">-$2,000,002.00</b><span class="hvh-pricing-users-price-currency">đ</span></td>
													</tr>
													<tr>
														<td><b><span class="hvh-pricing-apps-num">7</span><a href="#">Ứng dụng</a></b></td>
														<td><b class="hvh-pricing-apps-price-yearly">$40.00</b><span class="hvh-pricing-users-price-currency">đ</span></td>
													</tr>
													<tr>
														<td><b>Tổng</b>/ tháng<sup>(2)</sup></td>
														<td><b class="hvh-pricing-price-yearly">$6,000,046.00</b><span class="hvh-pricing-users-price-currency">đ</span></td>
													</tr>
												</tbody>
											</table>
											<div class="hvh-pricing-price-yearly-in-year-wrapper"><span><sup>(2)</sup>Thanh toán hằng năm: </span><b class="hvh-pricing-price-yearly-in-year">$72,000,552.00</b><span class="hvh-pricing-users-price-currency">đ</span></div>
											<div class="hvh-pricing-price-discount-code">
												<div class="input-group">
													<input class="form-control" type="text" placeholder="Nhập mã khuyến mãi"/>
													<div class="input-group-append">
														<button class="input-group-text cl-white bg-primary border-primary">ÁP DỤNG</button>
													</div>
												</div>
											</div>
											<div class="hvh-pricing-price-is-not-free-trial">
												<div class="hvh-pricing-form-button"><a class="btn btn-primary btn-lg btn-full" href="cart.html">MUA NGAY</a>
													<div class="alert-danger hvh-pricing-error-no-apps"><i class="far fa-exclamation-circle"></i>
														<p>Vui lòng chọn ít nhất một ứng dụng.</p>
													</div>
												</div>
											</div><i class="hvh-pricing-board-note"><sup>(1)</sup><span>Khách hàng mới được giảm giá trên số lượng người dùng ban đầu đã đặt.</span></i>
										</div>
										<div class="content" tab-id="tab-pane-monthly">
											<table id="o_monthly_table">
												<tbody>
													<tr>
														<td><b><span class="hvh-pricing-pricing_users_num">400</span></b><a href="#">Người sử dụng</a></td>
														<td><b class="hvh-pricing-users-price-yearly">$8,000</b><span class="hvh-pricing-users-price-currency">đ</span></td>
													</tr>
													<tr>
														<td><span>Giảm giá cho người dùng <sup>(1)</sup></span></td>
														<td><b class="hvh-pricing-users-price-discount-yearly">-$2,000,002.00</b><span class="hvh-pricing-users-price-currency">đ</span></td>
													</tr>
													<tr>
														<td><b><span class="hvh-pricing-apps-num">7</span><a href="#">Ứng dụng</a></b></td>
														<td><b class="hvh-pricing-apps-price-yearly">$40.00</b><span class="hvh-pricing-users-price-currency">đ</span></td>
													</tr>
													<tr>
														<td><b>Tổng</b>/ tháng<sup>(2)</sup></td>
														<td><b class="hvh-pricing-price-yearly">$6,000,046.00</b><span class="hvh-pricing-users-price-currency">đ</span></td>
													</tr>
												</tbody>
											</table>
											<div class="hvh-pricing-price-yearly-in-year-wrapper"><span><sup>(2)</sup>Thanh toán hằng năm: </span><b class="hvh-pricing-price-yearly-in-year">$72,000,552.00</b><span class="hvh-pricing-users-price-currency">đ</span></div>
											<div class="hvh-pricing-price-discount-code">
												<div class="input-group">
													<input class="form-control" type="text" placeholder="Nhập mã khuyến mãi"/>
													<div class="input-group-append">
														<button class="input-group-text cl-white bg-primary border-primary">ÁP DỤNG</button>
													</div>
												</div>
											</div>
											<div class="hvh-pricing-price-is-not-free-trial">
												<div class="hvh-pricing-form-button"><a class="btn btn-primary btn-lg btn-full" href="cart.html">MUA NGAY</a>
													<div class="alert-danger hvh-pricing-error-no-apps"><i class="far fa-exclamation-circle"></i>
														<p>Vui lòng chọn ít nhất một ứng dụng.</p>
													</div>
												</div>
											</div><i class="hvh-pricing-board-note"><sup>(1)</sup><span>Khách hàng mới được giảm giá trên số lượng người dùng ban đầu đã đặt.</span></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- *** PAGE VERIFY TEMPLATE *** //-->
			<input id="page-verify-template" hidden="hidden" current-page="index-page" header-inverted="true" is-login="false"/>
		</main>
		<!-- *** OVERLAY *** //-->
		<div id="overlay"></div>
		<!-- *** FOOTER *** //-->
		<footer class="hvh-main-footer">
			<div class="container"><a class="hvh-logo-main-footer" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
				<div class="row">
					<div class="col-12 col-lg-7 col-xl-6">
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="row">
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">CỘNG ĐỒNG</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">OPEN SOURCE</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">DỊCH VỤ</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Bemo.sh Hosting</a></li>
									<li><a href="#">Hỗ trợ</a></li>
									<li><a href="#">Nâng cấp</a></li>
									<li><a href="#">Giáo dục</a></li>
									<li><a href="#">Find an Accountant</a></li>
									<li><a href="#">Tìm một đối tác</a></li>
									<li><a href="#">Trở thành một đối tác</a></li>
								</ul>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">VỀ CHÚNG TÔI</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Công ty của chúng tôi</a></li>
									<li><a href="#">Liên hệ với chúng tôi</a></li>
									<li><a href="#">Công việc</a></li>
									<li><a href="#">Sự kiện</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Khách hàng</a></li>
									<li><a href="#">Những đối tác</a></li>
									<li><a href="#">Hợp pháp</a></li>
									<li><a href="#">Riêng tư</a></li>
									<li><a href="#">Bảo mật</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 offset-xl-1">
						<div class="form-group">
							<select class="form-control custom-select hvh-language-selector">
								<option value="test">Tiếng Việt</option>
								<option value="test">Tiếng Nhật</option>
								<option value="test">Tiếng Anh</option>
							</select>
						</div>
						<p class="hvh-desc-footer">Bemo is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.</p>
						<p class="hvh-desc-footer">Bemo's unique value proposition is to be at the same time very easy to use and fully integrated.</p>
						<ul class="hvh-socials">
							<li><a href="#"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- *** JS *** //-->
		<script src="./js/core.min.js"></script>
		<script src="./js/header.min.js"></script>
		<script src="./js/main.min.js"></script>
	</body>
</html>