<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- *** META *** //-->
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- *** CSS *** //-->
		<link rel="stylesheet" href="./css/core.min.css"/>
		<link rel="stylesheet" href="./css/header.min.css"/>
		<link rel="stylesheet" href="./css/footer.min.css"/>
		<link rel="stylesheet" href="./css/main.min.css"/>
		<!-- *** FAVICON *** //-->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<!-- *** TITLE *** //-->
		<title>Sale Order Detail | Bemo</title>
	</head>
	<body>
		<!-- *** HEADER *** //-->
		<header class="hvh-main-header">
			<div class="container">
				<div class="hvh-main-header-main"><a class="hvh-logo-main-header" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
					<div class="hvh-header-buttons"><a class="btn btn-login" href="login.html"><i class="fal fa-sign-in-alt"></i><span>Đăng nhập</span></a>
						<div class="account">
							<div class="avatar"><img class="lazyload blur-up fullsize object-cover" src="./images/avatar-user-default.png" alt="AVATAR"/></div>
							<div class="name"><span>Huyen Pham</span></div>
						</div>
					</div>
					<nav class="hvh-primary-nav">
						<ul>
							<li class="has-sub"><a href="#">Ứng dụng</a></li>
							<li class="has-sub"><a href="#">Cộng đồng</a></li>
							<li><a href="index.html">Giá cả</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- *** MAIN *** //-->
		<main>
			<section class="data-detail-wrapper">
				<section class="breadcrumb">
					<div class="container">
						<div class="breadcrumb-wrapper">
							<ul class="breadcrumb-navigation">
								<li><a href="#">Home</a></li>
								<li><a href="#">Tên trang</a></li>
							</ul>
							<div class="filter-group">
								<div class="filter-item">
									<label>Sort by:</label>
									<select class="select-filter" name="">
										<option value="">Ngày</option>
										<option value="">Ngày</option>
										<option value="">Ngày</option>
										<option value="">Ngày</option>
										<option value="">Ngày</option>
									</select>
								</div>
								<div class="filter-item">
									<label>Filter by:</label>
									<select class="select-filter" name="">
										<option value="">Tất cả</option>
										<option value="">Tất cả</option>
										<option value="">Tất cả</option>
										<option value="">Tất cả</option>
										<option value="">Tất cả</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="data-detail">
					<div class="container">
						<div class="row">
							<div class="col-lg-4">
								<div class="card-data-detail-left">
									<div class="card-head">
										<h1>160.000.000<span>VNĐ</span></h1>
									</div>
									<div class="card-body">
										<div class="card-information-account">
											<div class="avatar"><img class="lazyload blur-up object-cover" src="https://i.pinimg.com/564x/0a/42/5f/0a425fe45daa9e245d82d33b25b57743.jpg" alt=""/></div>
											<div class="content">
												<ul class="list-information">
													<li><b>Nhân viên kinh doanh</b></li>
													<li><i class="far fa-envelope"></i><span>noreply@odoo.com</span></li>
													<li><i class="far fa-phone-alt"></i><span>(208) 555-0112</span></li>
												</ul>
											</div>
										</div>
										<div class="card-buttons-action"><a class="btn btn-primary" href="profile.html"><span>Đi tới trang của bạn</span><i class="far fa-arrow-right"></i></a></div>
									</div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="card-data-detail-right">
									<div class="invoice-detail">
										<div class="card-header">
											<div class="company-information">
												<div class="company__logo"><img src="./images/logo-bap-software.png" alt="LGOO-COMPANY"/></div>
												<div class="company__content">
													<h3>Ho Chi Minh Headquarter</h3>
													<p>17th Floor, Building B - Viettel Complex Tower, Cach Mang Thang Tam Street, District 10, Hochiminh City</p>
												</div>
											</div>
										</div>
										<div class="card-body">
											<div class="infor-client">
												<ul>
													<li> <i class="far fa-user-circle"></i><span>Hoàng Việt Hùng</span></li>
													<li> <i class="far fa-map-marker"></i><span>66/12 Thich Quang Duc street, Phu Nhuan district, Ho Chi Minh city</span><br/><span>166/12 Thich Quang Duc street, Phu Nhuan district, Ho Chi Minh city</span><br/><span>84 Ho Chi Minh City Việt Nam</span></li>
												</ul>
											</div>
											<h2>Invoice SAAS/2021/11633A</h2>
											<div class="table-normal-data">
												<table>
													<thead>
														<tr>
															<th>Invoice Date:</th>
															<th>Invoice Date:</th>
															<th>Source:</th>
															<th>Reference:</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>10/02/2021</td>
															<td>10/02/2021</td>
															<td>SO2021/1349525</td>
															<td>
																<p>2019/30179 (SO2019/644295)</p>
																<p>(SO2019/644295)</p>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="table-data">
												<div class="block-table">
													<table>
														<thead>
															<tr>
																<th class="name-product">Sản phẩm</th>
																<th>Số lượng</th>
																<th class="text-right">Đơn giá</th>
																<th class="text-right">Thuế</th>
																<th class="text-right">Số tiền</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td class="name-product"><a href="bill-liabiliti-detail.html">[ks_inventory_dashboard] Inventory Dashboard Ninja by Ksolves India Pvt. Ltd. for version 13.0</a></td>
																<td>1,00 PCE</td>
																<td class="text-right"><span>835 470</span><span>đ</span></td>
																<td class="text-right"><span>0</span><span>đ</span></td>
																<td class="text-right"><span>835 470</span><span>đ</span></td>
															</tr>
															<tr>
																<td class="name-product"><a href="bill-liabiliti-detail.html">[ks_inventory_dashboard] Inventory Dashboard Ninja by Ksolves India Pvt. Ltd. for version 13.0</a></td>
																<td>1,00 PCE</td>
																<td class="text-right"><span>835 470</span><span>đ</span></td>
																<td class="text-right"><span>0</span><span>đ</span></td>
																<td class="text-right"><span>835 470</span><span>đ</span></td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<td colspan="2"></td>
																<td class="text-right"><b>Thành tiền</b></td>
																<td class="text-right" colspan="2"><span>835 470</span><span>đ</span></td>
															</tr>
															<tr>
																<td colspan="2"></td>
																<td class="text-right">Thuế</td>
																<td class="text-right" colspan="2"><span>0</span><span>đ</span></td>
															</tr>
															<tr>
																<td colspan="2"></td>
																<td class="text-right"><b>Tổng tiền</b></td>
																<td class="text-right" colspan="2"><span>835 470</span><span>đ</span></td>
															</tr>
															<tr>
																<td colspan="2"></td>
																<td class="text-right"><i>Trả vào 21/02/2021</i></td>
																<td class="text-right" colspan="2"><span>835 470</span><span>đ</span></td>
															</tr>
															<tr>
																<td colspan="2"></td>
																<td class="text-right"><b>Còn nợ</b></td>
																<td class="text-right" colspan="2"><span>835 470</span><span>đ</span></td>
															</tr>
														</tfoot>
													</table>
												</div>
											</div><b class="note"><i>This invoice is already paid.</i></b>
										</div>
										<div class="card-footer">
											<ul class="list-information">
												<li><a href="tel:(+84) 028 6270 1557"><i class="fas fa-phone-alt"></i><span>(+84) 028 6270 1557</span></a></li>
												<li><a href="mailto:info@bap.com"><i class="fas fa-envelope"></i><span>info@bap.com</span></a></li>
												<li><a href="https://bap-software.net" target="_blank"><i class="fas fa-globe-europe"></i><span>https://bap-software.net</span></a></li>
												<li><i class="far fa-list-alt"></i><span>VAT: BE0477472701</span></li>
											</ul>
											<div class="desc">
												<p>For USD & EUR: ING Bank IBAN: BE10 3631 0709 4104 - Swift/BIC: BBRUBEBB - Address: 285 Cách Mạng Tháng 8 phường 12, quận 10, TPHCM</p>
												<p>For EUR: CPH Bank IBAN: BE74 1262 0132 6907 - Swift/BIC: CPHBBE75 - Address:  285 Cách Mạng Tháng 8 phường 12, quận 10, TPHCM</p>
												<p>General Terms of Sales:<a href="#"> https://www.bap.com/r/terms</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>
			<!-- *** PAGE VERIFY TEMPLATE *** //-->
			<input id="page-verify-template" hidden="hidden" current-page="sale-order-detail-page" header-inverted="false" is-login="true"/>
		</main>
		<!-- *** OVERLAY *** //-->
		<div id="overlay"></div>
		<!-- *** FOOTER *** //-->
		<footer class="hvh-main-footer">
			<div class="container"><a class="hvh-logo-main-footer" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
				<div class="row">
					<div class="col-12 col-lg-7 col-xl-6">
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="row">
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">CỘNG ĐỒNG</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">OPEN SOURCE</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">DỊCH VỤ</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Bemo.sh Hosting</a></li>
									<li><a href="#">Hỗ trợ</a></li>
									<li><a href="#">Nâng cấp</a></li>
									<li><a href="#">Giáo dục</a></li>
									<li><a href="#">Find an Accountant</a></li>
									<li><a href="#">Tìm một đối tác</a></li>
									<li><a href="#">Trở thành một đối tác</a></li>
								</ul>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">VỀ CHÚNG TÔI</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Công ty của chúng tôi</a></li>
									<li><a href="#">Liên hệ với chúng tôi</a></li>
									<li><a href="#">Công việc</a></li>
									<li><a href="#">Sự kiện</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Khách hàng</a></li>
									<li><a href="#">Những đối tác</a></li>
									<li><a href="#">Hợp pháp</a></li>
									<li><a href="#">Riêng tư</a></li>
									<li><a href="#">Bảo mật</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 offset-xl-1">
						<div class="form-group">
							<select class="form-control custom-select hvh-language-selector">
								<option value="test">Tiếng Việt</option>
								<option value="test">Tiếng Nhật</option>
								<option value="test">Tiếng Anh</option>
							</select>
						</div>
						<p class="hvh-desc-footer">Bemo is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.</p>
						<p class="hvh-desc-footer">Bemo's unique value proposition is to be at the same time very easy to use and fully integrated.</p>
						<ul class="hvh-socials">
							<li><a href="#"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- *** JS *** //-->
		<script src="./js/core.min.js"></script>
		<script src="./js/header.min.js"></script>
		<script src="./js/main.min.js"></script>
	</body>
</html>