<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- *** META *** //-->
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- *** CSS *** //-->
		<link rel="stylesheet" href="./css/core.min.css"/>
		<link rel="stylesheet" href="./css/header.min.css"/>
		<link rel="stylesheet" href="./css/footer.min.css"/>
		<link rel="stylesheet" href="./css/main.min.css"/>
		<!-- *** FAVICON *** //-->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<!-- *** TITLE *** //-->
		<title>Payment Online | Bemo</title>
	</head>
	<body>
		<!-- *** HEADER *** //-->
		<header class="hvh-main-header">
			<div class="container">
				<div class="hvh-main-header-main"><a class="hvh-logo-main-header" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
					<div class="hvh-header-buttons"><a class="btn btn-login" href="login.html"><i class="fal fa-sign-in-alt"></i><span>Đăng nhập</span></a>
						<div class="account">
							<div class="avatar"><img class="lazyload blur-up fullsize object-cover" src="./images/avatar-user-default.png" alt="AVATAR"/></div>
							<div class="name"><span>Huyen Pham</span></div>
						</div>
					</div>
					<nav class="hvh-primary-nav">
						<ul>
							<li class="has-sub"><a href="#">Ứng dụng</a></li>
							<li class="has-sub"><a href="#">Cộng đồng</a></li>
							<li><a href="index.html">Giá cả</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- *** MAIN *** //-->
		<main>
			<!-- *** CART *** //-->
			<section class="hvh-payment">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!-- *** PROGRESS WIZARD *** //-->
							<div class="hvh-progress-wizard"><a class="no-decoration complete" href="cart.html">
									<div class="hvh-progress-wizard-step">
										<div class="hvh-progress-wizard-icon"><i class="fas fa-circle"></i><i class="fad fa-dot-circle icon-active"></i><i class="fas fa-check-circle icon-complete"></i></div>
										<div class="hvh-progress-wizard-steplabel">Xem đơn hàng</div>
									</div></a><a class="no-decoration active" href="payment.html">
									<div class="hvh-progress-wizard-step">
										<div class="hvh-progress-wizard-icon"><i class="fas fa-circle"></i><i class="fad fa-dot-circle icon-active"></i><i class="fas fa-check-circle icon-complete"></i></div>
										<div class="hvh-progress-wizard-steplabel">Thanh toán</div>
									</div></a><a class="no-decoration" href="payment-complete.html">
									<div class="hvh-progress-wizard-step">
										<div class="hvh-progress-wizard-icon"><i class="fas fa-circle"></i><i class="fad fa-dot-circle icon-active"></i><i class="fas fa-check-circle icon-complete"></i></div>
										<div class="hvh-progress-wizard-steplabel">Xác nhận đơn hàng</div>
									</div></a></div>
						</div>
						<div class="col-12">
							<section class="hvh-form-checkout">
								<form action="payment-credit-card.html" autocomplete="off">
									<div class="block-form">
										<div class="form-row">
											<div class="col-lg-12">
												<div class="hvh-checkout-head">
													<h3>Chọn hình thức thanh toán</h3>
												</div>
												<ul class="hvh-payments">
													<li class="hvh-item-payment-online">
														<label class="group-custom-checkbox">
															<div class="custom-checkbox">
																<input type="radio" name="payment" checked="checked" value="payment-credit-card.html"/>
															</div><span><i class="fas fa-credit-card-blank"></i>Credit Card</span>
														</label>
														<div class="images"><img src="./images/MasterCard.png" alt="MasterCard"/><img src="./images/Visa.png" alt="MasterCard"/></div>
														<div class="note"><i class="fad fa-exclamation-circle"></i><span>You will be redirected to Ingenico Payment Services when you click the Pay Now button.</span></div>
													</li>
													<li class="hvh-item-payment-online">
														<label class="group-custom-checkbox">
															<div class="custom-checkbox">
																<input type="radio" name="payment" value="https://www.paypal.com/vn/home"/>
															</div><span><i class="fab fa-paypal"></i>Paypal</span>
														</label>
														<div class="note"><i class="fad fa-exclamation-circle"></i><span>You will be redirected to Paypal's website when you click the Pay Now button.</span></div>
														<div class="note"><i class="fad fa-exclamation-circle"></i><span>Please note that an extra handling fee equivalent to about 3.9% of the total amount will be charged in order to cover Paypal's transaction fees</span></div>
													</li>
													<li class="hvh-item-payment-online">
														<label class="group-custom-checkbox">
															<div class="custom-checkbox">
																<input type="radio" name="payment" value="payment-complete.html"/>
															</div><span><i class="fad fa-university"></i>Wire Transfer</span>
														</label>
														<div class="note"><i class="fad fa-exclamation-circle"></i><span>Transfer information will be provided after choosing the payment mode.</span></div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- BUTTONS IN FORMS-->
									<div class="buttons-form"><a class="btn btn-secondary border-primary" href="index.html"><i class="fal fa-arrow-left"></i><span>Quay về</span></a>
										<button class="btn btn-primary"><span>Thanh toán ngay</span><i class="fal fa-arrow-right"></i></button>
									</div>
								</form>
							</section>
						</div>
					</div>
				</div>
			</section>
			<!-- *** PAGE VERIFY TEMPLATE *** //-->
			<input id="page-verify-template" hidden="hidden" current-page="payment-online-page" header-inverted="false" is-login="false"/>
		</main>
		<!-- *** OVERLAY *** //-->
		<div id="overlay"></div>
		<!-- *** FOOTER *** //-->
		<footer class="hvh-main-footer">
			<div class="container"><a class="hvh-logo-main-footer" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
				<div class="row">
					<div class="col-12 col-lg-7 col-xl-6">
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="row">
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">CỘNG ĐỒNG</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">OPEN SOURCE</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">DỊCH VỤ</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Bemo.sh Hosting</a></li>
									<li><a href="#">Hỗ trợ</a></li>
									<li><a href="#">Nâng cấp</a></li>
									<li><a href="#">Giáo dục</a></li>
									<li><a href="#">Find an Accountant</a></li>
									<li><a href="#">Tìm một đối tác</a></li>
									<li><a href="#">Trở thành một đối tác</a></li>
								</ul>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">VỀ CHÚNG TÔI</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Công ty của chúng tôi</a></li>
									<li><a href="#">Liên hệ với chúng tôi</a></li>
									<li><a href="#">Công việc</a></li>
									<li><a href="#">Sự kiện</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Khách hàng</a></li>
									<li><a href="#">Những đối tác</a></li>
									<li><a href="#">Hợp pháp</a></li>
									<li><a href="#">Riêng tư</a></li>
									<li><a href="#">Bảo mật</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 offset-xl-1">
						<div class="form-group">
							<select class="form-control custom-select hvh-language-selector">
								<option value="test">Tiếng Việt</option>
								<option value="test">Tiếng Nhật</option>
								<option value="test">Tiếng Anh</option>
							</select>
						</div>
						<p class="hvh-desc-footer">Bemo is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.</p>
						<p class="hvh-desc-footer">Bemo's unique value proposition is to be at the same time very easy to use and fully integrated.</p>
						<ul class="hvh-socials">
							<li><a href="#"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- *** JS *** //-->
		<script src="./js/core.min.js"></script>
		<script src="./js/header.min.js"></script>
		<script src="./js/main.min.js"></script>
	</body>
</html>