<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- *** META *** //-->
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- *** CSS *** //-->
		<link rel="stylesheet" href="./css/core.min.css"/>
		<link rel="stylesheet" href="./css/header.min.css"/>
		<link rel="stylesheet" href="./css/footer.min.css"/>
		<link rel="stylesheet" href="./css/main.min.css"/>
		<!-- *** FAVICON *** //-->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<!-- *** TITLE *** //-->
		<title>Profile | Bemo</title>
	</head>
	<body>
		<!-- *** HEADER *** //-->
		<header class="hvh-main-header">
			<div class="container">
				<div class="hvh-main-header-main"><a class="hvh-logo-main-header" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
					<div class="hvh-header-buttons"><a class="btn btn-login" href="login.html"><i class="fal fa-sign-in-alt"></i><span>Đăng nhập</span></a>
						<div class="account">
							<div class="avatar"><img class="lazyload blur-up fullsize object-cover" src="./images/avatar-user-default.png" alt="AVATAR"/></div>
							<div class="name"><span>Huyen Pham</span></div>
						</div>
					</div>
					<nav class="hvh-primary-nav">
						<ul>
							<li class="has-sub"><a href="#">Ứng dụng</a></li>
							<li class="has-sub"><a href="#">Cộng đồng</a></li>
							<li><a href="index.html">Giá cả</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- *** MAIN *** //-->
		<main>
			<section class="profile">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="left-wrapper">
								<div class="card-information-account">
									<div class="avatar"><img class="lazyload blur-up object-cover" src="https://i.pinimg.com/564x/0a/42/5f/0a425fe45daa9e245d82d33b25b57743.jpg" alt=""/></div>
									<div class="content">
										<div class="content_head">
											<h3 class="lcl lcl-1"><i class="far fa-user"></i><span>Thông tin tài khoản</span></h3>
										</div>
										<div class="content_body">
											<ul class="list-information">
												<li><i class="far fa-envelope"></i><span>noreply@odoo.com</span></li>
												<li><i class="far fa-phone-alt"></i><span>(208) 555-0112</span></li>
												<li><i class="far fa-map-marker"></i><span>VietNam</span></li>
												<li><a class="btn" href="#"><span>Cài đặt</span><i class="fas fa-arrow-right"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="card-information-user">
									<div class="content">
										<div class="content_head">
											<h3 class="lcl lcl-1"><i class="far fa-id-card"></i><span>Thông tin tài khoản</span></h3><a class="btn cl-white" href="#"><i class="far fa-pen"></i></a>
										</div>
										<div class="content_body">
											<ul class="list-information">
												<li><i class="far fa-user-circle"></i><span>Hoàng Việt Hùng</span></li>
												<li><i class="far fa-envelope"></i><span>noreply@odoo.com</span></li>
												<li><i class="far fa-phone-alt"></i><span>(208) 555-0112</span></li>
												<li><i class="far fa-map-marker"></i><span>66/12 Thich Quang Duc street, Phu Nhuan district, Ho Chi Minh city</span><span>166/12 Thich Quang Duc street, Phu Nhuan district, Ho Chi Minh city</span><span>84 Ho Chi Minh City Việt Nam</span></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="right-wrapper">
								<h3>Tài liệu</h3>
								<ul class="o_portal_docs">
									<li><a href="#"><span class="title lcl lcl-1">Tiềm năng</span><span class="count">9</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">Cơ hội</span><span class="count">9</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">Báo giá</span><span class="count">9</span></a></li>
									<li><a href="table-data-sale-order.html"><span class="title lcl lcl-1">Đơn bán hàng</span><span class="count">9</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">Đơn mua hàng</span><span class="count">9</span></a></li>
									<li><a href="table-data-bills-liabilities.html"><span class="title lcl lcl-1">Hóa đơn & Công nợ</span><span class="count">9</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">Dự án</span><span class="count">9</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">Nhiệm vụ</span><span class="count">9</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">Chấm công</span><span class="count">9</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">Signatures</span><span class="count">9</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">Hợp đồng thuê bao</span><span class="count">9</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">Support Packs</span></a></li>
									<li><a href="#"><span class="title lcl lcl-1">In - App Services</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- *** PAGE VERIFY TEMPLATE *** //-->
			<input id="page-verify-template" hidden="hidden" current-page="profile-page" header-inverted="false" is-login="true"/>
		</main>
		<!-- *** OVERLAY *** //-->
		<div id="overlay"></div>
		<!-- *** FOOTER *** //-->
		<footer class="hvh-main-footer">
			<div class="container"><a class="hvh-logo-main-footer" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
				<div class="row">
					<div class="col-12 col-lg-7 col-xl-6">
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="row">
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">CỘNG ĐỒNG</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">OPEN SOURCE</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">DỊCH VỤ</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Bemo.sh Hosting</a></li>
									<li><a href="#">Hỗ trợ</a></li>
									<li><a href="#">Nâng cấp</a></li>
									<li><a href="#">Giáo dục</a></li>
									<li><a href="#">Find an Accountant</a></li>
									<li><a href="#">Tìm một đối tác</a></li>
									<li><a href="#">Trở thành một đối tác</a></li>
								</ul>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">VỀ CHÚNG TÔI</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Công ty của chúng tôi</a></li>
									<li><a href="#">Liên hệ với chúng tôi</a></li>
									<li><a href="#">Công việc</a></li>
									<li><a href="#">Sự kiện</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Khách hàng</a></li>
									<li><a href="#">Những đối tác</a></li>
									<li><a href="#">Hợp pháp</a></li>
									<li><a href="#">Riêng tư</a></li>
									<li><a href="#">Bảo mật</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 offset-xl-1">
						<div class="form-group">
							<select class="form-control custom-select hvh-language-selector">
								<option value="test">Tiếng Việt</option>
								<option value="test">Tiếng Nhật</option>
								<option value="test">Tiếng Anh</option>
							</select>
						</div>
						<p class="hvh-desc-footer">Bemo is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.</p>
						<p class="hvh-desc-footer">Bemo's unique value proposition is to be at the same time very easy to use and fully integrated.</p>
						<ul class="hvh-socials">
							<li><a href="#"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- *** JS *** //-->
		<script src="./js/core.min.js"></script>
		<script src="./js/header.min.js"></script>
		<script src="./js/main.min.js"></script>
	</body>
</html>