<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- *** META *** //-->
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- *** CSS *** //-->
		<link rel="stylesheet" href="./css/core.min.css"/>
		<link rel="stylesheet" href="./css/header.min.css"/>
		<link rel="stylesheet" href="./css/footer.min.css"/>
		<link rel="stylesheet" href="./css/main.min.css"/>
		<!-- *** FAVICON *** //-->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<!-- *** TITLE *** //-->
		<title>Sale Orders | Bemo</title>
	</head>
	<body>
		<!-- *** HEADER *** //-->
		<header class="hvh-main-header">
			<div class="container">
				<div class="hvh-main-header-main"><a class="hvh-logo-main-header" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
					<div class="hvh-header-buttons"><a class="btn btn-login" href="login.html"><i class="fal fa-sign-in-alt"></i><span>Đăng nhập</span></a>
						<div class="account">
							<div class="avatar"><img class="lazyload blur-up fullsize object-cover" src="./images/avatar-user-default.png" alt="AVATAR"/></div>
							<div class="name"><span>Huyen Pham</span></div>
						</div>
					</div>
					<nav class="hvh-primary-nav">
						<ul>
							<li class="has-sub"><a href="#">Ứng dụng</a></li>
							<li class="has-sub"><a href="#">Cộng đồng</a></li>
							<li><a href="index.html">Giá cả</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<!-- *** MAIN *** //-->
		<main>
			<section class="table-data-wrapper">
				<section class="breadcrumb">
					<div class="container">
						<div class="breadcrumb-wrapper">
							<ul class="breadcrumb-navigation">
								<li><a href="#">Home</a></li>
								<li><a href="#">Tên trang</a></li>
							</ul>
							<div class="filter-group">
								<div class="filter-item">
									<label>Sort by:</label>
									<select class="select-filter" name="">
										<option value="">Ngày</option>
										<option value="">Ngày</option>
										<option value="">Ngày</option>
										<option value="">Ngày</option>
										<option value="">Ngày</option>
									</select>
								</div>
								<div class="filter-item">
									<label>Filter by:</label>
									<select class="select-filter" name="">
										<option value="">Tất cả</option>
										<option value="">Tất cả</option>
										<option value="">Tất cả</option>
										<option value="">Tất cả</option>
										<option value="">Tất cả</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="table-data">
					<div class="container">
						<div class="block-table">
							<table>
								<thead>
									<tr>
										<th># Đơn hàng</th>
										<th>Ngày đặt hàng</th>
										<th>Tình trạng hóa đơn</th>
										<th class="text-right">Tổng</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-success cl-white">Đã xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-primary cl-white">Sale đã liên hệ</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-warning cl-white">Chưa xuất</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
									<tr>
										<td><a href="bill-liabiliti-detail.html">SAAS/2021/11633A</a></td>
										<td>11/14/2020 04:06 PM</td>
										<td><span class="bage bg-information cl-white">Mới tạo</span></td>
										<td class="text-right"><span>635 412</span><span>đ</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</section>
			<!-- *** PAGE VERIFY TEMPLATE *** //-->
			<input id="page-verify-template" hidden="hidden" current-page="table-data-sale-orders-page" header-inverted="false" is-login="true"/>
		</main>
		<!-- *** OVERLAY *** //-->
		<div id="overlay"></div>
		<!-- *** FOOTER *** //-->
		<footer class="hvh-main-footer">
			<div class="container"><a class="hvh-logo-main-footer" href="index.html"><img class="lazyload blur-up" src="./images/logo-bap-software.png" alt="LOGO-BAP"/></a>
				<div class="row">
					<div class="col-12 col-lg-7 col-xl-6">
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="row">
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">CỘNG ĐỒNG</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
									<div class="col-6 col-md-12">
										<h3 class="hvh-footer-title">OPEN SOURCE</h3>
										<ul class="hvh-footer-links">
											<li><a href="#">Tutorial</a></li>
											<li><a href="#">Tài liệu</a></li>
											<li><a href="#">Diễn đàn</a></li>
											<li><a href="#">Danh sách gửi thư</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">DỊCH VỤ</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Bemo.sh Hosting</a></li>
									<li><a href="#">Hỗ trợ</a></li>
									<li><a href="#">Nâng cấp</a></li>
									<li><a href="#">Giáo dục</a></li>
									<li><a href="#">Find an Accountant</a></li>
									<li><a href="#">Tìm một đối tác</a></li>
									<li><a href="#">Trở thành một đối tác</a></li>
								</ul>
							</div>
							<div class="col-6 col-md-4">
								<h3 class="hvh-footer-title">VỀ CHÚNG TÔI</h3>
								<ul class="hvh-footer-links">
									<li><a href="#">Công ty của chúng tôi</a></li>
									<li><a href="#">Liên hệ với chúng tôi</a></li>
									<li><a href="#">Công việc</a></li>
									<li><a href="#">Sự kiện</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Khách hàng</a></li>
									<li><a href="#">Những đối tác</a></li>
									<li><a href="#">Hợp pháp</a></li>
									<li><a href="#">Riêng tư</a></li>
									<li><a href="#">Bảo mật</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5 col-xl-5 offset-xl-1">
						<div class="form-group">
							<select class="form-control custom-select hvh-language-selector">
								<option value="test">Tiếng Việt</option>
								<option value="test">Tiếng Nhật</option>
								<option value="test">Tiếng Anh</option>
							</select>
						</div>
						<p class="hvh-desc-footer">Bemo is a suite of open source business apps that cover all your company needs: CRM, eCommerce, accounting, inventory, point of sale, project management, etc.</p>
						<p class="hvh-desc-footer">Bemo's unique value proposition is to be at the same time very easy to use and fully integrated.</p>
						<ul class="hvh-socials">
							<li><a href="#"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- *** JS *** //-->
		<script src="./js/core.min.js"></script>
		<script src="./js/header.min.js"></script>
		<script src="./js/main.min.js"></script>
	</body>
</html>