.o_form_view .o_group .o_field_widget {
	&.ks_item_icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 120px;
		height: 120px;
		border-radius: $bemo-border-radius-medium;
		box-shadow: $bemo-box-shadow-ks-dashboard-icon;
		background-color: $bemo-primary-blue-light-color-05;
		overflow: hidden;
		span.fa {
			font-size: 36px;
		}
	}
}

.ks_item_icon {
	> img {
		width: 56px;
		height: 56px;
	}
}

.ks_field_required {
	color: $bemo-semantic-negative-color;
}

.ks_db_item_preview,
.ks_db_kpi_preview {
	max-width: 450px;
	margin: 0 auto;
	width: 100%;
}

.ks_not_click {
	pointer-events: none;
}

.ks_color_picker {
	margin-right: 10px;
}

.ks_color_opacity {
	vertical-align: middle;
}

.ks_image_widget_icon_container {
	background: transparent;
	border: none;
	margin: $bemo-spacing-level-1;
	cursor: pointer;
}

.ks_domain_content {
	overflow: auto;
}

.ks_db_item_preview_footer_note {
	color: $bemo-neutral-medium-sub-color;
	margin-top: $bemo-spacing-level-5;
}

.ks_md_heading {
	justify-content: center;
	font-size: 16px;
}

.ks_dashboard_menu_container,
.ks_dashboard_layout_dropdown_container {
	> li {
		> button {
			margin-top: $bemo-spacing-level-1;
			margin-left: $bemo-spacing-level-1;
			border-radius: $bemo-border-radius-low;
		}
	}
}

.ks_dashboard_menu_container {
	padding: $bemo-spacing-level-2;
	box-shadow: $bemo-box-shadow;
	border-radius: $bemo-border-radius-low;
	max-width: 200px;
	> li {
		display: flex;
		margin: $bemo-spacing-level-2;
	}
}

#ks_add_item_selection,
#ks_date_selector_container {
	box-shadow: $bemo-box-shadow;
}

#ks_dashboard_layout_edit {
	color: $bemo-neutral-white;
	border-radius: $bemo-border-radius-low;
}

.ks_add_item_type_button {
	color: $bemo-neutral-white;
	border-radius: $bemo-border-radius-low;
}

.ks_kpi_main_body {
	width: 100%;
}

.ks_dashboard_kpi_arrow_preview {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin-left: $bemo-spacing-level-2;
	margin-bottom: $bemo-spacing-level-2;
	text-transform: none;
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.ks_progress {
	progress {
		background-color: $bemo-neutral-dark-color;
		border: 0;
		width: 80%;
		height: 4px;
		border-radius: $bemo-border-radius-medium;
		&::-webkit-progress-bar {
			background-color: $bemo-neutral-dark-color;
			border-radius: $bemo-border-radius-medium;
		}
		&::progress-value,
		&::progress-bar {
			background-color: $bemo-neutral-white;
			border-radius: $bemo-border-radius-medium;
		}
	}
}

.ks_list_view_layout_3,
.ks_list_view_layout_1 {
	.ks_tr {
		&:nth-child(even) {
			background-color: $bemo-neutral-lightest-background-color;
		}
		&:hover {
			background-color: $bemo-primary-blue-light-color-05;
		}
	}
}
