.ks_o_graph_svg_container {
	height: calc(100% - 25px);
	width: 100%;
}

.ksChartTitle {
	color: $bemo-neutral-darker-color;
	font-weight: 700;
	display: block;
	height: calc(100% - 87%);
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.ks_o_graph_svg_container > svg.ks_svg_chart {
	height: calc(100% - 14%);
	width: 100%;
}

.grid-stack > .grid-stack-item > .ui-draggable-handle {
	touch-action: unset;
}
