/* TO make whole page in white ks_dashboard_linkbackground(below grey screen start) : Hiding it for now */
.ks_dashboard_form {
	min-height: 100%;
}
.ks_dashboard_ninja {
	margin-bottom: 20px;
}

.ks_dashboard_content {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	padding: $bemo-spacing-level-3;
	background-color: $bemo-primary-blue-light-color-06;
}

.ks_dashboard_main_content {
	padding: $bemo-spacing-level-3 $bemo-spacing-level-2;
	background-color: $bemo-neutral-white;
	border-radius: $bemo-border-radius-medium;
}
.ks_dashboard_ninja_header {
	text-align: right;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px 8px;
	align-items: center;
	margin-bottom: 25px;
}

.ks_overflow {
	overflow: auto;
}

.ks_dashboard_header_name {
	margin: 0;
	max-width: 35%;
}

.ks_header_container_div {
	float: none;
	background: #f2f2f2;
	margin-top: -20px;
	box-shadow: 2px 3px 6px #bbb5b5;
}

.ks_white_background {
	background-color: white;
}

.ks_dashboard_header_name {
	margin: 0;
	width: 80vmin;
	overflow-wrap: break-word;
	text-align: left;
}

.ks_layout_color {
	background-color: #f9f9f9;
	margin-left: 35px;
	margin-top: 20px;
}

.ks_dashboard_item {
	background-color: $bemo-neutral-white;
}

.ks_dashboard_item,
.ks_dashboard_item_l2,
.ks_dashboard_item_l4,
.ks_dashboard_item_l5 {
	padding: $bemo-spacing-level-3;
	color: $bemo-neutral-darker-color;
	border-radius: $bemo-border-radius-medium;
	transition: $bemo-transition;
	box-shadow: $bemo-box-shadow-ks-dashboard-item;
}

.ks_dashboard_item_l2,
.ks_dashboard_item_l4 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.ks_dashboard_item_l4 {
	border-width: 1px;
	border-style: solid;
}

.ks_dashboard_item_info {
	margin-top: $bemo-spacing-level-2;
}

.ks_dashboard_item_name,
.ks_dashboard_item_name_l2,
.ks_dashboard_item_name_l3,
.ks_dashboard_item_name_l5 {
	font-size: 1.8rem;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: none;
}

.ks_dashboard_item_name {
	margin-bottom: $bemo-spacing-level-3;
}

.ks_dashboard_item_name_l2 {
	margin-top: $bemo-spacing-level-1;
}

.ks_dashboard_item_name_l5 {
	text-align: center;
}

.ks_dashboard_item_domain_count,
.ks_dashboard_item_domain_count_l2,
.ks_dashboard_item_domain_count_l3,
.ks_dashboard_item_domain_count_l5 {
	font-size: 4rem;
	line-height: 1;
	font-weight: 900;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ks_dashboard_item_domain_count_l3 {
	text-align: right;
}

.ks_dashboard_item_domain_count_l5 {
	margin-top: $bemo-spacing-level-2;
	text-align: center;
}

.ks_dashboard_item_name_l3 {
	text-align: right;
}

.ks_dashboard_icon,
.ks_dashboard_icon_l2,
.ks_dashboard_icon_l3,
.ks_dashboard_icon_l4,
.ks_dashboard_icon_l5 {
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: $height-icon-ks-dashboard;
	border-radius: $bemo-border-radius-low;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
	overflow: hidden;
	> img {
		height: 100%;
		width: 100%;
	}
}

.ks_dashboard_icon,
.ks_dashboard_icon_l3,
.ks_dashboard_icon_l5 {
	width: $width-icon-ks-dashboard;
}

.ks_dashboard_icon_l2,
.ks_dashboard_icon_l4 {
	-ms-flex: 0 0 $width-icon-ks-dashboard;
	flex: 0 0 $width-icon-ks-dashboard;
	max-width: $width-icon-ks-dashboard;
	~ .ks_dashboard_item_main_body_l2 {
		padding-left: $bemo-spacing-level-3;
	}
}

.ks_dashboard_icon_l5 {
	margin: 0 auto;
}

.ks_dashboard_item_main_body_l2 {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.ks_dashboard_item_header {
	> button {
		color: $bemo-neutral-white;
		background: transparent;
		border: none;
	}
}

.ks_item_not_click {
	.ks_dashboard_item_hover {
		&:hover {
			.ks_dashboard_item_button_container {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.ks_dashboard_item_menu_show > button {
	visibility: visible !important;
}

.ks_dashboard_item_header_hover > button:hover {
	transition: $bemo-transition;
}

.ks_item_not_click {
	cursor: move;
}

.ks_dashboard_icon_l5 span {
	font-size: 20px;
	margin: 10px;
}

.ks_dashboard_item_header_l6 {
	position: absolute;
	right: 25px;
	top: 20px;
	> button {
		background: transparent;
		border: none;
	}
}

.ks_item_click {
	cursor: pointer;
}

/* Dashboard filter related CSS */

.ks_action_btns {
	display: flex;
	align-items: center;
}
@media (max-width: 1075px) {
	.ks_dashboard_header_name {
		max-width: 100%;
	}
	.ks_dashboard_top_menu {
		margin-top: 10px;
	}
}

.ks_dashboard_header_sticky {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	z-index: 10;
}

.ks_dashboard_datepicker_z-index {
	z-index: 10 !important;
}

/* Date Filter Selection CSS*/
#ks_date_filter_selection,
#ks_dn_filter_selection {
	font-family: inherit;
	padding: 0px $bemo-spacing-level-2;
}

.ks_date_filter_selection_input {
	display: flex;
	flex-direction: row;
}

.ks_date_selection_box {
	display: flex;
	align-items: center;
}

.ks_date_input_fields {
	display: flex;
	align-items: center;
}

.ks_date_filter_selected > span,
.ks_layout_selected > span {
	font-weight: bold;
}
.ks_date_filter_selected > span::before,
.ks_layout_selected > span::before {
	font-family: FontAwesome;
	position: absolute;
	left: 6px;
	content: "\f00c";
}

.df_selection_text {
	display: block;
	padding: 3px 25px;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;
	cursor: pointer;
}
.df_selection_text:hover {
	color: #333333;
	background-color: #f5f5f5;
}

.ks_date_filter_dropdown {
	padding: 0.375rem 0.75rem;
	border-color: #dee2e6;
	border-radius: 3px !important;
}

.ks_btn_first_child_radius {
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 3px !important;
	border-top-left-radius: 3px !important;
}

.ks_btn_middle_child {
	border-radius: 0 !important;
	height: 100%;
	margin-right: 10px;
}

.ks_btn_middle_child input,
.ks_btn_last_child input {
	padding: inherit !important;
}

.ks_btn_last_child {
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
	height: 100%;
}

.ks_hide {
	display: none !important;
}

.ks_dashboard_item_action {
	background-color: inherit;
}

/* Dev Code here */
.ks_dashboard_header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: $bemo-spacing-level-3;
	background-color: $bemo-neutral-white;
	border-bottom: 1px solid $bemo-neutral-lighter-border-color;
}

.ks_select_none {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}

#ks_dashboard_title_input {
	width: 300px;
	&:focus {
		border-color: $bemo-primary-color;
	}
}

.ks_dashboard_ninja_toggle_menu {
	position: relative;
}

.ks_dashboard_ninja_toggle_menu:before {
	font-family: FontAwesome;
	top: 0;
	left: -5px;
	padding-right: 10px;
	content: "\f013";
	font-size: 2em;
	cursor: pointer;
}

.ks_bg_white {
	background: white;
}

#ks_dashboard_title_label {
	color: $bemo-primary-color;
	font-size: 16px;
	font-weight: 700;
}

@media (max-width: 992px) {
	.ks_dashboard_ninja_toggle_menu:before {
		content: "\f142";
	}

	#ks_dashboard_title {
		display: flex;
		justify-content: space-between;
	}
}
