/* Form pie chart no data */
.ks_dn_graph_preview > .nv-noData > .ks_pie_chart_nocontent {
	padding: 100px 0 0 137px;
	min-height: 327px;
	font-size: 125%;
}

.ks_dashboard_item_preview,
.ks_dashboard_graph_preview {
	padding: $bemo-spacing-level-4;
	border: 2px dashed $bemo-primary-blue-light-color-04;
	background-color: $bemo-primary-blue-light-color-06;
}

.ks_dashboard_item_preview {
	.ks_dashboard_item_header,
	.ks_dashboard_item_header_l2 {
		display: none;
	}
}

.ks_dashboard_graph_preview {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ks_dashboard_item_action {
	&.ks_sort_icon {
		color: $bemo-neutral-white;
		border: 0;
		background-color: transparent;
		&:focus {
			box-shadow: unset;
			outline: none;
		}
	}
}

.ks_group_width {
	width: 40% !important;
}

.ks_dashboard_quick_edit_action_popup {
	color: $bemo-neutral-black;
}

.ks_dashboard_item_button_container {
	.ks_chart_inner_buttons {
		> button {
			color: $bemo-neutral-white;
			&:hover {
				color: $bemo-primary-blue-light-color-03;
			}
		}
	}
}

.ks_pager_name {
	margin-left: auto;
	padding: 0.75rem;
}

/* Chart No Content Css */
.ks_chart_nocontent_form {
	display: inherit !important;
}

.ks_pie_chart_nocontent > .nv-noData {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 125%;
}

.ks_pie_chart_nocontent > .ksChartTitle {
	position: absolute;
	bottom: 0;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.ks_chart_json_export {
	padding-right: 10px !important;
}

.ks_chart_card_header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.ks_chart_card_body {
	position: absolute;
	top: $bemo-spacing-level-7;
	left: $bemo-spacing-level-2;
	right: $bemo-spacing-level-2;
	bottom: $bemo-spacing-level-2;
	padding: 0;
	&:last-child {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
}

#ks_item_info {
	cursor: pointer;
}

.ks_chart_heading {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.ks_list_view_heading {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	padding: 0.75rem;
}

.ks_chart_color_options,
.ks_item_size_options {
	display: block;
	padding: 3px 10px;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;
	cursor: pointer;
	margin-left: 24px;
	text-transform: capitalize;
}

.ks_chart_color_options:hover,
.ks_item_size_options:hover {
	color: #333333;
	background-color: #f5f5f5;
}

.ks_pro_print_hide {
	display: none !important;
}

.ks_dashboard_item_menu_show > .ks_chart_inner_buttons {
	visibility: visible !important;
}

.ksMaxTableContent {
	padding: 0;
	max-height: 300px;
}

.ks_chart_export_menu {
	padding: $bemo-spacing-level-2 0 $bemo-spacing-level-2 0;
}

.ks_chart_export_menu_header {
	font-weight: 600;
	padding: 0 14px 10px 14px;
}

.ks_chart_export_menu_item {
	padding: 5px 14px 5px 14px;
	cursor: pointer;
}

.ks_chart_image_export {
	line-height: 29.5px;
	padding-top: 7.5px;
	padding-bottom: 7px;
}
.ks_chart_export_menu_item {
	color: #4c4c4c;
}

.ks_chart_export_menu_item:hover {
	color: #4d4c4c;
	background-color: #f5f5f5;
}

.ks_chart_export_menu_item > i {
	padding-right: 10px;
}

.ks_date_filters_menu_drop_down {
	max-height: 300px !important;
	overflow: auto !important;
	background-clip: unset;
}
