.ks_dashboard_theme_input {
	-webkit-appearance: none;
	&:before {
		content: "";
		display: flex;
		justify-content: center;
		position: relative;
		color: $bemo-neutral-white;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		cursor: pointer;
		border: 1px solid #051423;
	}
	&:checked {
		&:before {
			content: "\f00c";
			font-family: "FontAwesome";
		}
	}
}

.ks_color_blue {
	&:before {
		background: #337ab7;
	}
}

.ks_color_red {
	&:before {
		background: #d9534f;
	}
}

.ks_color_yellow {
	&:before {
		background: #f0ad4e;
	}
}

.ks_color_green {
	&:before {
		background: #5cb85c;
	}
}

.ks_dashboard_theme_view_render {
	display: flex;
	flex-wrap: wrap;
}

.ks_dashboard_theme_input_container {
	+ .ks_dashboard_theme_input_container {
		margin-left: $bemo-spacing-level-3;
	}
}

.ks_dashboard_top_settings {
	.fa-cog {
		cursor: pointer;
		font-size: 18px;
	}
}

.ks_dashboard_setting_container {
	padding: $bemo-spacing-level-1 $bemo-spacing-level-2;
	cursor: pointer;
	&:hover {
		color: $bemo-primary-color;
		background-color: $bemo-primary-blue-light-color-05;
	}
}

.ks_dashboard_ninja_toggle_menu {
	&:after {
		display: none;
	}
}

.ks_kpi_target_grey {
	color: rgba($color: $bemo-neutral-black, $alpha: 0.5);
}
