<html>
	<body>
		<table
			style="
				color: #373737;
				font-size: 14px;
				line-height: 24px;
				width: 100%;
				padding: 20px;
				max-width: 650px;
				margin: 0 auto;
				background-color: #f1f6f9;
				border-color: transparent;
				border-spacing: 0;
				font-family: Inter, Helvetica, Arial, sans-serif;
			"
		>
			<!-- HEADER -->
			<tbody style="background-color: transparent">
				<tr>
					<td style="padding-bottom: 32px">
						<img
							style="max-width: 50%"
							src="/bemo_theme_backend/static/src/images/logo_bap_company_default.png"
							alt="BAP-VENTURES"
						/>
					</td>
				</tr>
			</tbody>
			<!-- BODY -->
			<tbody style="background-color: #ffffff">
				<tr>
					<td
						style="
							color: #1c73c4;
							text-align: center;
							padding: 100px 16px 0 16px;
							position: relative;
						"
					>
						<img
							style="
								position: absolute;
								left: 56px;
								top: 44px;
								z-index: 2;
								max-width: 100%;
								pointer-events: none;
							"
							src="/bemo_theme_backend/static/src/images/inllustration_sticky_left_email_happy_birthday_01.png"
							alt="HAPPY-BIRTHDAY"
						/>
						<img
							style="
								position: absolute;
								right: 0;
								top: 0;
								z-index: 2;
								max-width: 100%;
								pointer-events: none;
							"
							src="/bemo_theme_backend/static/src/images/inllustration_sticky_right_email_happy_birthday_01.png"
							alt="HAPPY-BIRTHDAY"
						/>
						<div
							style="
								background-color: #ffffff;
								position: relative;
							"
						>
							<div style="position: relative">
								<img
									style="
										position: absolute;
										left: 50%;
										top: 50%;
										transform: translate(-50%, -50%);
										max-width: 100%;
										pointer-events: none;
									"
									src="/bemo_theme_backend/static/src/images/background_title_email_happy_birthday_01.png"
									alt="HAPPY-BIRTHDAY"
								/>
								<h1
									style="
										margin-block-start: 0;
										margin-block-end: 16px;
										font-size: 36px;
										line-height: 44px;
									"
								>
									<span
										style="
											display: block;
											font-size: 12px;
											line-height: 18px;
											letter-spacing: 8px;
										"
										>Happy</span
									>
									BIRTHDAY
								</h1>
								<h2
									style="
										font-size: 30px;
										line-height: 42px;
										margin-block-start: 0;
										margin-block-end: 0;
										text-transform: uppercase;
									"
								>
									HOÀNG VIỆT HÙNG
								</h2>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td style="padding: 28px 16px 16px 16px">
						<div
							style="
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 8px;
							"
						>
							<b
								style="
									color: #2988e0;
									font-size: 24px;
									line-height: 32px;
									text-align: right;
								"
								>JUNE <br />21</b
							>
							<p
								style="
									margin-block-start: 0;
									margin-block-end: 0;
									color: #2988e0;
									padding: 0 8px;
									text-align: center;
									border-left: 2px solid #1c73c4;
									border-right: 2px solid #1c73c4;
								"
							>
								All of best wishes <br />
								for you
							</p>
							<b
								style="
									color: #2988e0;
									font-size: 24px;
									line-height: 32px;
									text-align: right;
								"
								>From <br />
								B.A.P</b
							>
						</div>
					</td>
				</tr>
				<tr>
					<td style="padding: 16px 16px 80px 16px">
						<img
							style="
								display: block;
								max-width: 100%;
								margin: 0 auto;
							"
							src="/bemo_theme_backend/static/src/images/inllustration_email_happy_birthday_01.png"
							alt="HAPPY-BIRTHDAY"
						/>
					</td>
				</tr>
			</tbody>
			<!-- FOOTER -->
			<tbody style="background-color: #ffffff">
				<tr>
					<td style="padding: 0px 16px">
						<div
							style="
								padding: 8px 0;
								border-top: 2px solid #b8d7f5;
							"
						></div>
						<div
							style="
								display: flex;
								flex-wrap: wrap;
								align-items: center;
							"
						>
							<div style="flex: 0 0 20%; max-width: 20%">
								<img
									style="display: block; max-width: 100%"
									src="/bemo_theme_backend/static/src/images/logo_bap_company_default.png"
									alt="COMPANY-BOT"
								/>
							</div>
							<div
								style="
									flex-basis: 0;
									flex-grow: 1;
									max-width: 100%;
								"
							>
								<ul
									style="
										margin-block-start: 0;
										margin-block-end: 12px;
										padding-inline-start: 12px;
										list-style-type: none;
									"
								>
									<li style="margin-bottom: 4px">
										<b>B.A.P</b> <b>Bot</b> -
										<span>System email</span>
									</li>
									<li style="margin-bottom: 4px">
										<p
											style="
												font-size: 10px;
												line-height: 16px;
												margin-block-start: 0;
												margin-block-end: 0;
											"
										>
											<img
												style="
													float: left;
													margin-right: 4px;
												"
												width="16"
												height="16"
												src="/bemo_theme_backend/static/src/icons/note_blue.svg"
												alt="NOTE"
											/>
											<b>Lưu ý:</b> Đây là hệ thống mail
											tự động, vui lòng không phản hồi lại
											qua email này cho chúng tôi.
										</p>
									</li>
									<li style="margin-bottom: 4px">
										<p
											style="
												font-size: 10px;
												line-height: 16px;
												margin-block-start: 0;
												margin-block-end: 0;
											"
										>
											<img
												style="
													float: left;
													margin-right: 4px;
												"
												width="16"
												height="16"
												src="/bemo_theme_backend/static/src/icons/note_blue.svg"
												alt="NOTE"
											/>
											<b>Note:</b> This is an automatic
											email from the system, please do not
											reply to this email.
										</p>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			<tbody
				style="
					background-color: transparent;
					font-size: 10px;
					line-height: 16px;
				"
			>
				<tr>
					<td style="padding-top: 24px">
						<b style="display: block; color: #12497d"
							>BAP IT Co. JSC</b
						>
					</td>
				</tr>
				<tr>
					<td style="padding-top: 8px">
						<img
							style="float: left; margin-right: 4px"
							width="16"
							height="16"
							src="/bemo_theme_backend/static/src/icons/website_blue.svg"
							alt="WEBSITE"
						/>
						<div style="display: flex; flex-wrap: wrap">
							<span
								style="
									display: inline-block;
									padding-right: 4px;
								"
								>Website:</span
							>
							<ul
								style="
									display: flex;
									flex-wrap: wrap;
									margin-block-start: 0;
									margin-block-end: 0;
									padding-inline-start: 0;
									list-style-type: none;
								"
							>
								<li
									style="
										padding-right: 8px;
										margin-right: 8px;
										border-right: 1px solid #e0e4e6;
									"
								>
									<a
										target="_blank"
										style="
											color: #0e6eef;
											text-decoration: none;
											font-weight: 700;
										"
										href="https://bap-software.net/en/"
										>Sofware</a
									>
								</li>
								<li
									style="
										padding-right: 8px;
										margin-right: 8px;
										border-right: 1px solid #e0e4e6;
									"
								>
									<a
										target="_blank"
										style="
											color: #0e6eef;
											text-decoration: none;
											font-weight: 700;
										"
										href="https://bap-software.net/en/"
										>Ventures</a
									>
								</li>
								<li
									style="
										padding-right: 8px;
										margin-right: 8px;
									"
								>
									<a
										style="
											color: #0e6eef;
											text-decoration: none;
											font-weight: 700;
										"
										href="#"
										>Solution</a
									>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td style="padding-top: 12px">
						<img
							style="float: left; margin-right: 4px"
							width="16"
							height="16"
							src="/bemo_theme_backend/static/src/icons/home_blue.svg"
							alt="ADDRESS"
						/>
						<span style="display: inline-block; padding-right: 4px"
							>Address:</span
						>
						<ul
							style="
								padding-inline-start: 0;
								list-style-type: none;
								margin-block-start: 12px;
								margin-block-end: 0;
								overflow: auto;
								width: 100%;
							"
						>
							<li style="float: left; width: 33.33333%">
								<b
									style="
										display: inline-block;
										margin-bottom: 4px;
									"
									>Hồ Chí Minh</b
								>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
									"
								>
									17F, Viettel Building, Tower B, 285 Cach
									Mang Thang Tam Street, 12 Ward, 10 District,
									Ho Chi Minh City, Vietnam
								</p>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
										color: #858585;
									"
								>
									Tầng 17, Tháp B, Tòa nhà Viettel Complex,
									285 Cách Mạng Tháng Tám, Phường 12, Quận 10,
									Thành phố Hồ Chí Minh
								</p>
								<div style="margin-top: 4px">
									<img
										style="float: left; margin-right: 4px"
										width="16"
										height="16"
										src="/bemo_theme_backend/static/src/icons/phone_gray.svg"
										alt="PHONE"
									/>
									<span
										style="
											display: inline-block;
											padding-right: 4px;
										"
										>0286 2701 557</span
									>
								</div>
							</li>
							<li style="float: left; width: 33.33333%">
								<b
									style="
										display: inline-block;
										margin-bottom: 4px;
									"
									>Đà Nẵng</b
								>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
									"
								>
									17F, Viettel Building, Tower B, 285 Cach
									Mang Thang Tam Street, 12 Ward, 10 District,
									Ho Chi Minh City, Vietnam
								</p>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
										color: #858585;
									"
								>
									Tầng 17, Tháp B, Tòa nhà Viettel Complex,
									285 Cách Mạng Tháng Tám, Phường 12, Quận 10,
									Thành phố Hồ Chí Minh
								</p>
								<div style="margin-top: 4px">
									<img
										style="float: left; margin-right: 4px"
										width="16"
										height="16"
										src="/bemo_theme_backend/static/src/icons/phone_gray.svg"
										alt="PHONE"
									/>
									<span
										style="
											display: inline-block;
											padding-right: 4px;
										"
										>0286 2701 557</span
									>
								</div>
							</li>
							<li style="float: left; width: 33.33333%">
								<b
									style="
										display: inline-block;
										margin-bottom: 4px;
									"
									>Huế</b
								>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
									"
								>
									17F, Viettel Building, Tower B, 285 Cach
									Mang Thang Tam Street, 12 Ward, 10 District,
									Ho Chi Minh City, Vietnam
								</p>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
										color: #858585;
									"
								>
									Tầng 17, Tháp B, Tòa nhà Viettel Complex,
									285 Cách Mạng Tháng Tám, Phường 12, Quận 10,
									Thành phố Hồ Chí Minh
								</p>
								<div style="margin-top: 4px">
									<img
										style="float: left; margin-right: 4px"
										width="16"
										height="16"
										src="/bemo_theme_backend/static/src/icons/phone_gray.svg"
										alt="PHONE"
									/>
									<span
										style="
											display: inline-block;
											padding-right: 4px;
										"
										>0286 2701 557</span
									>
								</div>
							</li>
						</ul>
						<p
							style="
								margin-block-start: 8px;
								margin-block-end: 0;
								margin-left: auto;
								margin-right: auto;
								padding-top: 8px;
								text-align: center;
								max-width: 250px;
								width: 100%;
								border-top: 1px solid #ffffff;
							"
						>
							© 2021 Bemo Team |
							<a
								href="https://index.bemo.cloud/"
								target="_bank"
								style="
									color: #0e6eef;
									font-weight: 700;
									text-decoration: none;
								"
								>Information Here</a
							>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
