<html>
	<body>
		<table
			style="
				color: #373737;
				font-size: 14px;
				line-height: 24px;
				width: 100%;
				max-width: 650px;
				margin: 0 auto;
				background-color: #f1f6f9;
				border-color: transparent;
				border-spacing: 0;
				font-family: Inter, Helvetica, Arial, sans-serif;
			"
		>
			<!-- HEADER -->
			<tbody style="background-color: transparent">
				<tr>
					<td style="padding: 16px">
						<img
							style="max-width: 50%"
							src="/bemo_theme_backend/static/src/images/logo_bap_company_default.png"
							alt="BAP-VENTURES"
						/>
					</td>
				</tr>
			</tbody>
			<!-- BODY -->
			<tbody style="background-color: #ffffff">
				<tr>
					<td
						style="
							padding: 32px 16px 28px 16px;
							border-top: 6px solid #0c3255;
						"
					>
						<h1
							style="
								margin-block-start: 0;
								margin-block-end: 0;
								color: #0c3255;
								font-size: 26px;
								line-height: 36px;
							"
						>
							[BAP IT] INVITATION FOR INTERVIEW
						</h1>
					</td>
				</tr>
				<tr>
					<td style="padding: 28px 16px 16px 16px">
						<h4
							style="margin-block-start: 0; margin-block-end: 8px"
						>
							Dear <span>Mr. Hoàng Việt Hùng</span>,
						</h4>
						<p
							style="
								margin-block-start: 8px;
								margin-block-end: 8px;
							"
						>
							Thank you for your application at BAP. We highly
							appreciate your qualifications and would like to
							invite you for an interview for the
							<span>UX Designer</span> position.
						</p>
						<b style="display: block; margin: 8px 0"
							>Please see the time as below and the detailed
							information in the file attached.</b
						>
					</td>
				</tr>
				<tr>
					<td style="padding: 0px 16px">
						<div
							style="
								padding: 8px 0;
								border-top: 2px solid #b8d7f5;
							"
						></div>
						<ul
							style="
								margin-block-start: 0;
								margin-block-end: 0;
								padding-inline-start: 16px;
							"
						>
							<li style="margin-bottom: 8px">
								<span
									style="
										display: inline-block;
										margin-right: 8px;
									"
									>Time:</span
								><b>10:00 AM 21/06/2021</b>
							</li>
							<li style="margin-bottom: 8px">
								<span
									style="
										display: inline-block;
										margin-right: 8px;
									"
									>Venue:</span
								><b
									>Viettel Complex Building, 17th Floor, Tower
									B, 285 Cach Mang Thang 8, W12, D10, HCMC</b
								>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td style="padding: 0px 16px">
						<div
							style="
								padding: 8px 0;
								border-top: 2px solid #b8d7f5;
							"
						></div>
						<b style="display: block; margin-bottom: 8px"
							>And confirm whether you can attend the interview or
							not by replying to this email.</b
						>
						<i style="display: block; margin: 8px 0">
							If you have any problems, please contact me via:</i
						>
						<ul
							style="
								margin-block-start: 0;
								margin-block-end: 0;
								padding-inline-start: 0;
								list-style-type: none;
							"
						>
							<li style="margin-bottom: 8px">
								<p style="margin: 0">
									<img
										style="float: left; margin-right: 12px"
										width="24"
										height="24"
										src="/bemo_theme_backend/static/src/icons/skype_gray.svg"
										alt="SKYPE"
									/>
									Skype: <span>nthong.hr</span>
								</p>
							</li>
							<li style="margin-bottom: 8px">
								<p style="margin: 0">
									<img
										style="float: left; margin-right: 12px"
										width="24"
										height="24"
										src="/bemo_theme_backend/static/src/icons/phone_gray.svg"
										alt="PHONE"
									/>
									Phone: <span>(+84) 934 779 288</span>
								</p>
								<i
									style="
										display: block;
										margin: 8px 0 16px;
										color: #858585;
									"
									>Kind regards,</i
								>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
			<!-- FOOTER -->
			<tbody style="background-color: #ffffff">
				<tr>
					<td style="padding: 0px 16px">
						<div
							style="
								padding: 8px 0;
								border-top: 2px solid #b8d7f5;
							"
						></div>
						<div
							style="
								display: flex;
								flex-wrap: wrap;
								align-items: center;
							"
						>
							<div style="flex: 0 0 20%; max-width: 20%">
								<img
									style="display: block; max-width: 100%"
									src="/bemo_theme_backend/static/src/images/logo_bap_company_default.png"
									alt="COMPANY-BOT"
								/>
							</div>
							<div
								style="
									flex-basis: 0;
									flex-grow: 1;
									max-width: 100%;
								"
							>
								<ul
									style="
										margin-block-start: 0;
										margin-block-end: 12px;
										padding-inline-start: 12px;
										list-style-type: none;
									"
								>
									<li style="margin-bottom: 4px">
										<b>B.A.P</b> <b>Bot</b> -
										<span>System email</span>
									</li>
									<li style="margin-bottom: 4px">
										<p
											style="
												font-size: 10px;
												line-height: 16px;
												margin-block-start: 0;
												margin-block-end: 0;
											"
										>
											<img
												style="
													float: left;
													margin-right: 4px;
												"
												width="16"
												height="16"
												src="/bemo_theme_backend/static/src/icons/note_blue.svg"
												alt="NOTE"
											/>
											<b>Lưu ý:</b> Đây là hệ thống mail
											tự động, vui lòng không phản hồi lại
											qua email này cho chúng tôi.
										</p>
									</li>
									<li style="margin-bottom: 4px">
										<p
											style="
												font-size: 10px;
												line-height: 16px;
												margin-block-start: 0;
												margin-block-end: 0;
											"
										>
											<img
												style="
													float: left;
													margin-right: 4px;
												"
												width="16"
												height="16"
												src="/bemo_theme_backend/static/src/icons/note_blue.svg"
												alt="NOTE"
											/>
											<b>Note:</b> This is an automatic
											email from the system, please do not
											reply to this email.
										</p>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			<tbody
				style="
					background-color: transparent;
					font-size: 10px;
					line-height: 16px;
				"
			>
				<tr>
					<td style="padding: 16px 16px 0 16px">
						<b style="display: block; color: #12497d"
							>BAP IT Co. JSC</b
						>
					</td>
				</tr>
				<tr>
					<td style="padding: 8px 16px 0 16px">
						<img
							style="float: left; margin-right: 4px"
							width="16"
							height="16"
							src="/bemo_theme_backend/static/src/icons/website_blue.svg"
							alt="WEBSITE"
						/>
						<div style="display: flex; flex-wrap: wrap">
							<span
								style="
									display: inline-block;
									padding-right: 4px;
								"
								>Website:</span
							>
							<ul
								style="
									display: flex;
									flex-wrap: wrap;
									margin-block-start: 0;
									margin-block-end: 0;
									padding-inline-start: 0;
									list-style-type: none;
								"
							>
								<li
									style="
										padding-right: 8px;
										margin-right: 8px;
										border-right: 1px solid #e0e4e6;
									"
								>
									<a
										target="_blank"
										style="
											color: #0e6eef;
											text-decoration: none;
											font-weight: 700;
										"
										href="https://bap-software.net/en/"
										>Sofware</a
									>
								</li>
								<li
									style="
										padding-right: 8px;
										margin-right: 8px;
										border-right: 1px solid #e0e4e6;
									"
								>
									<a
										target="_blank"
										style="
											color: #0e6eef;
											text-decoration: none;
											font-weight: 700;
										"
										href="https://bap-software.net/en/"
										>Ventures</a
									>
								</li>
								<li
									style="
										padding-right: 8px;
										margin-right: 8px;
									"
								>
									<a
										style="
											color: #0e6eef;
											text-decoration: none;
											font-weight: 700;
										"
										href="#"
										>Solution</a
									>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td style="padding: 8px 16px 16px 16px">
						<img
							style="float: left; margin-right: 4px"
							width="16"
							height="16"
							src="/bemo_theme_backend/static/src/icons/home_blue.svg"
							alt="ADDRESS"
						/>
						<span style="display: inline-block; padding-right: 4px"
							>Address:</span
						>
						<ul
							style="
								padding-inline-start: 0;
								list-style-type: none;
								margin-block-start: 12px;
								margin-block-end: 0;
								overflow: auto;
								width: 100%;
							"
						>
							<li style="float: left; width: 33.33333%">
								<b
									style="
										display: inline-block;
										margin-bottom: 4px;
									"
									>Hồ Chí Minh</b
								>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
									"
								>
									17F, Viettel Building, Tower B, 285 Cach
									Mang Thang Tam Street, 12 Ward, 10 District,
									Ho Chi Minh City, Vietnam
								</p>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
										color: #858585;
									"
								>
									Tầng 17, Tháp B, Tòa nhà Viettel Complex,
									285 Cách Mạng Tháng Tám, Phường 12, Quận 10,
									Thành phố Hồ Chí Minh
								</p>
								<div style="margin-top: 4px">
									<img
										style="float: left; margin-right: 4px"
										width="16"
										height="16"
										src="/bemo_theme_backend/static/src/icons/phone_gray.svg"
										alt="PHONE"
									/>
									<span
										style="
											display: inline-block;
											padding-right: 4px;
										"
										>0286 2701 557</span
									>
								</div>
							</li>
							<li style="float: left; width: 33.33333%">
								<b
									style="
										display: inline-block;
										margin-bottom: 4px;
									"
									>Đà Nẵng</b
								>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
									"
								>
									17F, Viettel Building, Tower B, 285 Cach
									Mang Thang Tam Street, 12 Ward, 10 District,
									Ho Chi Minh City, Vietnam
								</p>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
										color: #858585;
									"
								>
									Tầng 17, Tháp B, Tòa nhà Viettel Complex,
									285 Cách Mạng Tháng Tám, Phường 12, Quận 10,
									Thành phố Hồ Chí Minh
								</p>
								<div style="margin-top: 4px">
									<img
										style="float: left; margin-right: 4px"
										width="16"
										height="16"
										src="/bemo_theme_backend/static/src/icons/phone_gray.svg"
										alt="PHONE"
									/>
									<span
										style="
											display: inline-block;
											padding-right: 4px;
										"
										>0286 2701 557</span
									>
								</div>
							</li>
							<li style="float: left; width: 33.33333%">
								<b
									style="
										display: inline-block;
										margin-bottom: 4px;
									"
									>Huế</b
								>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
									"
								>
									17F, Viettel Building, Tower B, 285 Cach
									Mang Thang Tam Street, 12 Ward, 10 District,
									Ho Chi Minh City, Vietnam
								</p>
								<p
									style="
										margin-block-start: 0;
										margin-block-end: 0;
										color: #858585;
									"
								>
									Tầng 17, Tháp B, Tòa nhà Viettel Complex,
									285 Cách Mạng Tháng Tám, Phường 12, Quận 10,
									Thành phố Hồ Chí Minh
								</p>
								<div style="margin-top: 4px">
									<img
										style="float: left; margin-right: 4px"
										width="16"
										height="16"
										src="/bemo_theme_backend/static/src/icons/phone_gray.svg"
										alt="PHONE"
									/>
									<span
										style="
											display: inline-block;
											padding-right: 4px;
										"
										>0286 2701 557</span
									>
								</div>
							</li>
						</ul>
						<p
							style="
								margin-block-start: 8px;
								margin-block-end: 0;
								margin-left: auto;
								margin-right: auto;
								padding-top: 8px;
								text-align: center;
								max-width: 250px;
								width: 100%;
								border-top: 1px solid #ffffff;
							"
						>
							© 2021 Bemo Team |
							<a
								href="https://index.bemo.cloud/"
								target="_bank"
								style="
									color: #0e6eef;
									font-weight: 700;
									text-decoration: none;
								"
								>Information Here</a
							>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
